Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

re-added e2e tests
  e2e-tests/README.md
  e2e-tests/common/__init__.py
  e2e-tests/common/assertions.py
  e2e-tests/common/constants.py
  e2e-tests/common/methods.py
  e2e-tests/requirements.txt
  e2e-tests/resources/demo.txt
  e2e-tests/resources/demo_anonymized.txt
  e2e-tests/resources/original_image.png
  e2e-tests/resources/purple_redact.png
  e2e-tests/tests/__init__.py
  e2e-tests/tests/test_analyzer.py
  e2e-tests/tests/test_anonymizer.py
  e2e-tests/tests/test_e2e_integration_flows.py
  e2e-tests/tests/test_image_redactor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

re added pytest.ini
  e2e-tests/pytest.ini
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update README.MD
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Update test_anonymizer.py
  e2e-tests/tests/test_anonymizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update Pipfile
  presidio-analyzer/Pipfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update setup.py
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update Pipfile
  presidio-anonymizer/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update setup.py
  presidio-anonymizer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update Pipfile
  presidio-image-redactor/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

anonymizer pipfile.lock
  presidio-anonymizer/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

analyzer lockfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

image redactor piplock file
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Create faq (#788)
  .gitignore
  README.MD
  docs/faq.md
  docs/index.md
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated pipfile
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated pipfile
  presidio-image-redactor/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add Encryption and Decryption sample
  docs/samples/index.md
  docs/samples/python/encrypt_decrypt.ipynb
Due: pipelines/CI-presidio-dev.yaml

Add standalone decryption
  docs/samples/python/encrypt_decrypt.ipynb
Due: pipelines/CI-presidio-dev.yaml

fix deps
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-image-redactor.yml
  docs/samples/deployments/spark/setup/startup.sh
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix tests
  presidio-analyzer/tests/test_spacy_recognizer.py
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove parentheses
  presidio-analyzer/tests/test_spacy_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Bug/fix deps (#793)
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-image-redactor.yml
  docs/samples/deployments/spark/setup/startup.sh
  presidio-analyzer/tests/test_spacy_recognizer.py
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

new lock files
  presidio-analyzer/Pipfile.lock
  presidio-anonymizer/Pipfile.lock
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove AnonymizerResult in favor of OperatorResult
  presidio-anonymizer/presidio_anonymizer/core/engine_base.py
  presidio-anonymizer/presidio_anonymizer/deanonymize_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/anonymizer_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/pii_entity.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/engine_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/operator_result.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertor.py
  presidio-anonymizer/tests/integration/test_deanonymize_engine.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_anonymizer_result.py
  presidio-anonymizer/tests/test_engine_result.py
  presidio-anonymizer/tests/test_operator_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix test
  presidio-anonymizer/tests/test_readme.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lock pipenvs
  presidio-analyzer/Pipfile.lock
  presidio-anonymizer/Pipfile.lock
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

revert spacy versioning
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

revert spacy versioning
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

revert spacy versioning
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

removed stars
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

pipenv install test
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-anonymizer.yml
  .pipelines/templates/build-image-redactor.yml
  presidio-analyzer/Dockerfile
  presidio-anonymizer/Dockerfile
  presidio-image-redactor/Dockerfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

downgrade spacy
  presidio-analyzer/Pipfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

install implicitly
  presidio-analyzer/Dockerfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Upgrade spacy + install w/o lock
  presidio-analyzer/Dockerfile
  presidio-analyzer/Pipfile
  presidio-anonymizer/Pipfile.lock
  presidio-image-redactor/Dockerfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Upgrade spacy in image redactor
  presidio-image-redactor/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

pip install from tar.gz
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

restore sync
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-image-redactor.yml
  docs/samples/deployments/spark/setup/startup.sh
  presidio-analyzer/Dockerfile
  presidio-anonymizer/Dockerfile
  presidio-image-redactor/Dockerfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

restore sync
  .pipelines/templates/build-anonymizer.yml
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

setup.py
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

relaxed spacy
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
