Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

Update encrypt.py - Indenting
  presidio-anonymizer/presidio_anonymizer/operators/encrypt.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update encrypt.py - Indenting (#1660)
  presidio-anonymizer/presidio_anonymizer/operators/encrypt.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Revert "Links to discussion board on Docker prebuilt images (#1614)"
  README.MD
  docs/index.md
  docs/installation.md
Due: pipelines/CI-presidio-dev.yaml

Revert "Links to discussion board on Docker prebuilt images (#1614)" (#1662)
  README.MD
  docs/index.md
  docs/installation.md
Due: pipelines/CI-presidio-dev.yaml

refactor to country specific
  presidio-analyzer/presidio_analyzer/predefined_recognizers/README.md
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/australia/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/finland/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/india/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/italy/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/poland/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/singapore/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/spain/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/uk/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/us/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/us/medical_license_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/generic/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/generic/phone_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/ner/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/ner/gliner_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/nlp_engine_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/nlp_engine_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/nlp_engine_recognizers/stanza_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/nlp_engine_recognizers/transformers_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/third_party/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/third_party/azure_ai_language.py
  presidio-analyzer/tests/test_certificate_number_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

feat(presidio-analyzer): add de, es, fr langauges
  presidio-analyzer/Dockerfile
  presidio-analyzer/presidio_analyzer/conf/spacy_analyzer.yaml
  presidio-analyzer/presidio_analyzer/conf/spacy_multilingual.yaml
  presidio-analyzer/presidio_analyzer/conf/spacy_recognizers.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Combine common Aadhaar separator regular expressions
  presidio-analyzer/presidio_analyzer/predefined_recognizers/in_aadhaar_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

new contribution guidelines
  CONTRIBUTING.md
  presidio-analyzer/presidio_analyzer/predefined_recognizers/ner/transformers_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

integrating recent updates
  presidio-analyzer/presidio_analyzer/predefined_recognizers/third_party/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/third_party/ahds_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Delete presidio-analyzer/presidio_analyzer/predefined_recognizers/README.md
  presidio-analyzer/presidio_analyzer/predefined_recognizers/README.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lint updates
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/india/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/italy/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/singapore/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/spain/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/us/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/third_party/__init__.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Preliminary sketch of operator
  docs/ahds_integration.md
  docs/anonymizer/index.md
  mkdocs.yml
  presidio-anonymizer/README.md
  presidio-anonymizer/presidio_anonymizer/operators/__init__.py
  presidio-anonymizer/presidio_anonymizer/operators/ahds_surrogate.py
  presidio-anonymizer/presidio_anonymizer/operators/operators_factory.py
  presidio-anonymizer/pyproject.toml
  presidio-anonymizer/tests/test_ahds_surrogate.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fixed failing tests
  presidio-analyzer/Pipfile
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/india/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/nlp_engine_recognizers/stanza_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/nlp_engine_recognizers/transformers_recognizer.py
  presidio-analyzer/tests/test_ahds_recognizer.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update README.MD
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Update README.MD (#1673)
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Update links in CONTRIBUTING and developing recognizers documentation.
  CONTRIBUTING.md
  docs/analyzer/developing_recognizers.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update links in CONTRIBUTING and developing recognizers documentation. (#1674)
  CONTRIBUTING.md
  docs/analyzer/developing_recognizers.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added Korean Resident Registration Number (RRN) recognizer (KrRrnRecognizer)
  CHANGELOG.md
  docs/supported_entities.md
  presidio-analyzer/presidio_analyzer/conf/default_recognizers.yaml
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/korea/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/korea/kr_rrn_recognizer.py
  presidio-analyzer/tests/test_kr_rrn_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix api call to use SurrogateOnly
  docs/ahds_integration.md
  docs/anonymizer/index.md
  presidio-anonymizer/README.md
  presidio-anonymizer/examples/ahds_surrogate_example.py
  presidio-anonymizer/presidio_anonymizer/operators/ahds_surrogate.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Refactor KrRrnRecognizer to use Union for type hinting in validate_result method for Python 3.9
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/korea/kr_rrn_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added Korean Resident Registration Number (RRN) recognizer (KrRrnRecognizer) (#1675)
  CHANGELOG.md
  docs/supported_entities.md
  presidio-analyzer/presidio_analyzer/conf/default_recognizers.yaml
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/korea/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/korea/kr_rrn_recognizer.py
  presidio-analyzer/tests/test_kr_rrn_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update Indian Aadhaar recognizer to include patterns for common contextual delimiters
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/india/in_aadhaar_recognizer.py
  presidio-analyzer/tests/test_in_aadhaar_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update Indian Aadhaar recognizer to include patterns for common contextual delimiters (#1677)
  presidio-analyzer/presidio_analyzer/predefined_recognizers/country_specific/india/in_aadhaar_recognizer.py
  presidio-analyzer/tests/test_in_aadhaar_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update requirements.txt with new dependencies
  docs/samples/python/streamlit/requirements.txt
Due: pipelines/CI-presidio-dev.yaml

lock requests to mitigate GHSA-9hjg-9r4m-mvj7
  docs/samples/deployments/openai-anonymaztion-and-deanonymaztion-best-practices/src/client_app/requirements.txt
Due: pipelines/CI-presidio-dev.yaml

e2e req
  e2e-tests/requirements.txt
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Force new requests to mitigate GHSA-9hjg-9r4m-mvj7 (#1683)
  docs/samples/deployments/openai-anonymaztion-and-deanonymaztion-best-practices/src/client_app/requirements.txt
  e2e-tests/requirements.txt
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update Dockerfile
  presidio-analyzer/Dockerfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Force streamlit dependency versions
  docs/samples/python/streamlit/requirements.txt
Due: pipelines/CI-presidio-dev.yaml

Force streamlit dependency versions (#1685)
  docs/samples/python/streamlit/requirements.txt
Due: pipelines/CI-presidio-dev.yaml

Update API call
  presidio-anonymizer/presidio_anonymizer/operators/ahds_surrogate.py
  presidio-anonymizer/tests/operators/test_operators_factory.py
  presidio-anonymizer/tests/test_ahds_surrogate.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Revert to python 3.12 in analyzer Dockerfile
  presidio-analyzer/Dockerfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
