Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

Update docs/build_release.md
  docs/build_release.md
Due: pipelines/CI-presidio-dev.yaml

Update docs/development.md
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml

Update docs/getting_started.md
  docs/getting_started.md
Due: pipelines/CI-presidio-dev.yaml

Update docs/index.md
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

fixed PR comments
  docs/build_release.md
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

Added mkdocs for docs generation (#531)
  docs/analyzer/adding_recognizers.md
  docs/analyzer/decision_process.md
  docs/analyzer/developing_recognizers.md
  docs/analyzer/index.md
  docs/analyzer/languages.md
  docs/api.md
  docs/build_release.md
  docs/development.md
  docs/getting_started.md
  docs/index.md
  docs/installation.md
  docs/requirements-docs.txt
  docs/samples/deployments/app-service/index.md
  docs/samples/deployments/index.md
  docs/samples/index.md
  docs/samples/python/index.md
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added API reference
  docs/analyzer/developing_recognizers.md
  docs/api.md
  docs/api/analyzer.md
  docs/api/anonymizer.md
  docs/api/image-redactor.md
  docs/requirements-docs.txt
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

try to fix tests issue
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/error_response.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

explicit return values
  presidio-anonymizer/presidio_anonymizer/entities/anonymized_text_builder.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_request.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add api-docs
  api-docs/api-docs.html
  api-docs/api-docs.yml
  presidio-analyzer/app.py
  presidio-anonymizer/api-docs/anonymize.yml
  presidio-anonymizer/api-docs/anonymizers.yml
  presidio-anonymizer/api-docs/health.yml
  presidio-anonymizer/api-docs/template.yml
  presidio-anonymizer/app.py
  presidio-image-redactor/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update presidio-anonymizer/presidio_anonymizer/entities/anonymizer_request.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_request.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

regenerate pip lock file on wsl
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix PR comments
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/anonymizer.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_config.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_request.py
  presidio-anonymizer/tests/integration/test_engine.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_anonymizer_request.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add example
  api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix PR commen
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/anonymizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix PR commen
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix PR commen
  presidio-anonymizer/presidio_anonymizer/anonymizers/anonymizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add documentation for new engine
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Move to docs, remove names
  docs/api-docs/api-docs.html
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

typo
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

remove image redactor
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

PR comments
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/anonymizer.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Image redactor fix pipfile lock (#534)
  docs/development.md
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

explicitly mention APIs as Python APIs
  docs/analyzer/languages.md
  docs/api.md
  docs/api/analyzer_python.md
  docs/api/anonymizer_python.md
  docs/api/image-redactor_python.md
  docs/requirements-docs.txt
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

use updated pip lock
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Auto generated API reference + small updates to docs (#536)
  docs/analyzer/developing_recognizers.md
  docs/analyzer/languages.md
  docs/api.md
  docs/api/analyzer_python.md
  docs/api/anonymizer_python.md
  docs/api/image-redactor_python.md
  docs/requirements-docs.txt
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove flasgger from pipenvs
  presidio-analyzer/Dockerfile
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/pylintrc
  presidio-anonymizer/Pipfile
  presidio-anonymizer/Pipfile.lock
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
