Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

release docs to github pages pipeline
  .pipelines/templates/release-docs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

use requirements.txt
  .pipelines/templates/release-docs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add more descriptions
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

revert upper branch commit
  presidio-analyzer/Dockerfile
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/pylintrc
  presidio-anonymizer/Pipfile
  presidio-anonymizer/Pipfile.lock
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

release pipeline to push docs into github pages with mkdocs (#541)
  .pipelines/templates/release-docs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

typo
  .pipelines/templates/deploy-stage.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove enum
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

Move swagger to project root + Add Analyzer (#537)
  docs/api-docs/api-docs.html
  docs/api-docs/api-docs.yml
  presidio-analyzer/app.py
  presidio-anonymizer/api-docs/anonymize.yml
  presidio-anonymizer/api-docs/anonymizers.yml
  presidio-anonymizer/api-docs/health.yml
  presidio-anonymizer/api-docs/template.yml
  presidio-anonymizer/app.py
  presidio-image-redactor/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add example
  api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add api-docs
  api-docs/api-docs.html
  api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Move to docs, remove names
  api-docs/api-docs.html
  api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove flasgger from pipenvs
  presidio-analyzer/Dockerfile
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/pylintrc
  presidio-anonymizer/Pipfile
  presidio-anonymizer/Pipfile.lock
  presidio-image-redactor/Pipfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove flasgger from pipenvs (#540)
  presidio-analyzer/Dockerfile
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/pylintrc
  presidio-anonymizer/Pipfile
  presidio-anonymizer/Pipfile.lock
  presidio-image-redactor/Pipfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix PR comments
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/analyzer_result.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_config.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_request.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix all dict to Dict
  presidio-anonymizer/presidio_anonymizer/anonymizers/anonymizer.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/hash.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/mask.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/redact.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/replace.py
  presidio-anonymizer/presidio_anonymizer/entities/analyzer_result.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

V2 - change anonymizer engine (#535)
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/anonymizer.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/hash.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/mask.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/redact.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/replace.py
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/analyzer_result.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymized_text_builder.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_config.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_request.py
  presidio-anonymizer/presidio_anonymizer/entities/error_response.py
  presidio-anonymizer/tests/anonymizers/test_anonymizer.py
  presidio-anonymizer/tests/integration/test_engine.py
  presidio-anonymizer/tests/test_analyzer_result.py
  presidio-anonymizer/tests/test_analyzer_results.py
  presidio-anonymizer/tests/test_anonymized_text_builder.py
  presidio-anonymizer/tests/test_anonymizer_config.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_anonymizer_request.py
  presidio-anonymizer/tests/test_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix PR comments
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

V2 anonymizer engine readme (#538)
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

start adding tests
  e2e-tests/common/constants.py
  e2e-tests/common/methods.py
  e2e-tests/resources/items.png
  e2e-tests/tests/test_image_redactor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

start working on test and infra
  e2e-tests/common/methods.py
  e2e-tests/tests/test_image_redactor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Development documentation additions
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml

Move development guidelines
  CONTRIBUTING.md
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Move development guidelines
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add tests
  e2e-tests/common/methods.py
  e2e-tests/resources/black_redact.png
  e2e-tests/resources/items.png
  e2e-tests/resources/original_image.png
  e2e-tests/resources/purple_redact.png
  e2e-tests/tests/test_image_redactor.py
  presidio-image-redactor/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add Image Redactor to CI pipeline (#530)
  .pipelines/templates/deploy-stage.yml
  azure-pipelines-ci.yml
  docs/build_release.md
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update docs/development.md
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml

Add E2E tests
  e2e-tests/common/methods.py
  e2e-tests/resources/black_redact.png
  e2e-tests/resources/gray_redact.png
  e2e-tests/resources/purple_redact.png
  e2e-tests/tests/test_image_redactor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update notebook sample
  docs/samples/python/presidio_notebook.ipynb
Due: pipelines/CI-presidio-dev.yaml

Fix tests + PR comments
  e2e-tests/common/methods.py
  e2e-tests/resources/black_redact.png
  e2e-tests/resources/gray_redact.png
  e2e-tests/resources/original_image.png
  e2e-tests/resources/purple_redact.png
  e2e-tests/tests/test_image_redactor.py
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
  presidio-image-redactor/tests/integration/test_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix tests + PR comments
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
  presidio-image-redactor/tests/integration/test_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix PR comments
  e2e-tests/tests/test_image_redactor.py
  presidio-image-redactor/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

CR
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml

Development Documentation (#542)
  CONTRIBUTING.md
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

V2 image redactor e2e (#543)
  e2e-tests/common/constants.py
  e2e-tests/common/methods.py
  e2e-tests/resources/original_image.png
  e2e-tests/resources/purple_redact.png
  e2e-tests/tests/test_image_redactor.py
  presidio-image-redactor/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
