Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  jobs:
  - job: BuildAndPushPresidioMaster
    timeoutInMinutes: 90
    condition: eq(variables['Build.SourceBranchName'], 'master')
    pool:
      vmImage: ubuntu-latest
    steps:
    - template: templates/presidio-build-template.yaml
      parameters:
        registry_name_parameter: $(REGISTRY_NAME)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

Updated demo link
  README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated spacy model version + demo text
  presidio-analyzer/Dockerfile
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/analyzer/nlp_engine/spacy_nlp_engine.py
  presidio-analyzer/analyzer/predefined_recognizers/us_bank_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/us_passport_recognizer.py
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Removed emoji
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

added reference to field_types.md and common.proto
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

added PUT example for recognizers
  docs/custom_fields.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

typo
  README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fixed link to deployment doc
  README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

added TOC to custom_fields (api vs code)
  docs/custom_fields.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

added TOC and windows clarifications
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added a reference to the datasink proto
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

Update development.md
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fixed url
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

Added CONTRIBUTING.md
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

Update index.md
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fixed typos
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

fixed not-working emoji
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

Update and rename install.md to deploy.md
  docs/deploy.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Rephrasing
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

Fixed broken link
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

Fixed language
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

Added a link to CONTRIBUTING.md
  README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fixed link
  README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add local version anonymizer package with domain and aliased id function based on the local presidio-analyzer
  .gitignore
  presidio-anonymizer-package/README.md
  presidio-anonymizer-package/__init__.py
  presidio-anonymizer-package/anonymizer/__init__.py
  presidio-anonymizer-package/anonymizer/__main__.py
  presidio-anonymizer-package/anonymizer/anonymizer.py
  presidio-anonymizer-package/anonymizer/db/__init__.py
  presidio-anonymizer-package/anonymizer/db/config_local.json
  presidio-anonymizer-package/anonymizer/db/db.py
  presidio-anonymizer-package/anonymizer/db/domain_relation.py
  presidio-anonymizer-package/anonymizer/db/sql.db
  presidio-anonymizer-package/anonymizer/pii-obfuscation
  presidio-anonymizer-package/anonymizer/pii-obfuscation.bat
  presidio-anonymizer-package/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

testing Pipenv sync only on deps
  Dockerfile.python.deps
  presidio-analyzer/Dockerfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-python-deps-CI.yaml

removed lazy loading of spacy models, ignoring deprecation warnings on tests
  presidio-analyzer/analyzer/nlp_engine/spacy_nlp_engine.py
  pytest.ini
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updated AzDO badge
  README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Changed base image from Alpine to Slim Buster to support faster pip installations, updated Spacy model version to 2.2.5
  Dockerfile.python.deps
  Makefile
  presidio-analyzer/Dockerfile
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/analyzer/nlp_engine/spacy_nlp_engine.py
  presidio-analyzer/tests/test_spacy_recognizer.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-python-deps-CI.yaml

Removed PIP cache to reduce image size
  Dockerfile.python.deps
  presidio-analyzer/Dockerfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-python-deps-CI.yaml

Updated base image to use specific venv
  Dockerfile.python.deps
  Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-python-deps-CI.yaml

Delete Pipfile
  Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Separated recognizer development from CONTRIBUTING
  docs/developing_recognizers.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Removed recognizres develoment and referenced
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml

Update developing_recognizers.md
  docs/developing_recognizers.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Reference to recognizer development best practices
  docs/custom_fields.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

docs refactor - table of contents
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fixed broken link
  README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Separated best practices for recognizers development from CONTRIBUTING.md (#253)
  CONTRIBUTING.md
  README.MD
  docs/custom_fields.md
  docs/developing_recognizers.md
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, *.md
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
