Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

Update docs/samples/python/presidio_notebook.ipynb
  docs/samples/python/presidio_notebook.ipynb
Due: pipelines/CI-presidio-dev.yaml

fix imports
  presidio-image-anonymizer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

new e2e flows (#506)
  e2e-tests/tests/e2e_integration_flows.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update index.md
  docs/analyzer/index.md
Due: pipelines/CI-presidio-dev.yaml

fix imports (#515)
  presidio-image-anonymizer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add testing documentation (#514)
  docs/development.md
  run.bat
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

small PR improvement - decide on recognize and not recognise as the right way to go.
  presidio-image-anonymizer/presidio_image_anonymizer/image_analyzer_engine.py
  presidio-image-anonymizer/tests/test_image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Sample jupiter notebook (#513)
  docs/samples/python/index.md
  docs/samples/python/presidio_notebook.ipynb
Due: pipelines/CI-presidio-dev.yaml

Supported entities doc for V2 (#509)
  docs/supported_entities.md
Due: pipelines/CI-presidio-dev.yaml

Clean the engine a little by moving the text handling to another entity.
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/text_manipulator.py
  presidio-anonymizer/tests/test_engine.py
  presidio-anonymizer/tests/test_text_manipulator.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

handle VERSION in repo
  .github/CODEOWNERS
  .gitignore
  .pipelines/templates/lint-build-test.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update
  .github/CODEOWNERS
  .pipelines/templates/lint-build-test.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add image-anonymizer to ci pipeline
  .pipelines/templates/build-image-anonymizer.yml
  .pipelines/templates/lint-build-test.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

small PR improvement
  presidio-image-anonymizer/presidio_image_anonymizer/image_analyzer_engine.py
  presidio-image-anonymizer/tests/test_image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Move validation to the request, where all validations are.
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/analyzer_result.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_request.py
  presidio-anonymizer/presidio_anonymizer/entities/text_manipulator.py
  presidio-anonymizer/tests/test_text_manipulator.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Rename text builder
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/text_manipulator.py
  presidio-anonymizer/tests/test_text_manipulator.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Rename text builder
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymized_text_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Rename text builder
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/tests/test_text_manipulator.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

move validation
  presidio-anonymizer/presidio_anonymizer/entities/analyzer_result.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_request.py
  presidio-anonymizer/tests/test_anonymizer_request.py
  presidio-anonymizer/tests/test_engine.py
  presidio-anonymizer/tests/test_text_manipulator.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix import
  presidio-image-anonymizer/presidio_image_anonymizer/entities/api_request_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated example remote recognizer
  .pre-commit-config.yaml
  docs/analyzer/adding_recognizers.md
  docs/samples/python/example_remote_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

minor change
  docs/analyzer/adding_recognizers.md
Due: pipelines/CI-presidio-dev.yaml

dot
  docs/analyzer/adding_recognizers.md
Due: pipelines/CI-presidio-dev.yaml

fix linting
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/analyzer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix linting
  presidio-anonymizer/presidio_anonymizer/entities/analyzer_result.py
  presidio-anonymizer/tests/test_anonymizer_request.py
  presidio-anonymizer/tests/test_engine.py
  presidio-anonymizer/tests/test_text_manipulator.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix import (#520)
  presidio-image-anonymizer/presidio_image_anonymizer/entities/api_request_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix linting
  presidio-anonymizer/presidio_anonymizer/entities/analyzer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add flasgger to all services
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/app.py
  presidio-anonymizer/Pipfile
  presidio-anonymizer/Pipfile.lock
  presidio-anonymizer/app.py
  presidio-image-anonymizer/Pipfile
  presidio-image-anonymizer/Pipfile.lock
  presidio-image-anonymizer/app.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update docs/analyzer/adding_recognizers.md
  docs/analyzer/adding_recognizers.md
Due: pipelines/CI-presidio-dev.yaml

Add to NOTICE
  NOTICE
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Lock verison
  presidio-analyzer/Pipfile
  presidio-anonymizer/Pipfile
  presidio-image-anonymizer/Pipfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove version validation from pipeline and update codeowners (#517)
  .github/CODEOWNERS
  .gitignore
  .pipelines/templates/lint-build-test.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Change health payload + welcome message
  presidio-analyzer/app.py
  presidio-anonymizer/app.py
  presidio-image-anonymizer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove stub e2e integration tests
  e2e-tests/tests/test_services_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add Flasgger + helathcheck for all services (#521)
  NOTICE
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/app.py
  presidio-anonymizer/Pipfile
  presidio-anonymizer/Pipfile.lock
  presidio-anonymizer/app.py
  presidio-image-anonymizer/Pipfile
  presidio-image-anonymizer/Pipfile.lock
  presidio-image-anonymizer/app.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
