Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

Update docs/api-docs/api-docs.yml
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

fix tests
  e2e-tests/tests/test_anonymizer.py
  presidio-anonymizer/presidio_anonymizer/operators/__init__.py
  presidio-anonymizer/tests/operators/test_operators_factory.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Upgrade spacy version
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

PR comments
  docs/anonymizer/adding_operators.md
Due: pipelines/CI-presidio-dev.yaml

fix tests
  presidio-anonymizer/presidio_anonymizer/operators/__init__.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

custom used only for fucntions
  presidio-anonymizer/presidio_anonymizer/operators/custom.py
  presidio-anonymizer/tests/operators/test_custom.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lint
  presidio-anonymizer/presidio_anonymizer/operators/__init__.py
  presidio-anonymizer/presidio_anonymizer/operators/custom.py
  presidio-anonymizer/tests/operators/test_custom.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lint
  presidio-anonymizer/presidio_anonymizer/operators/custom.py
  presidio-anonymizer/tests/operators/test_custom.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix sample
  docs/samples/python/example_custom_lambda_anonymizer.py
  docs/samples/python/index.md
Due: pipelines/CI-presidio-dev.yaml

Poc deanonymize docs (#652)
  docs/anonymizer/adding_anonymizers.md
  docs/anonymizer/adding_operators.md
  docs/anonymizer/index.md
  docs/api-docs/api-docs.yml
  docs/index.md
  docs/samples/python/presidio_notebook.ipynb
  docs/text_anonymization.md
  mkdocs.yml
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Upgrade spacy version 3.6
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

analyzer us phone regex fix
  presidio-analyzer/presidio_analyzer/predefined_recognizers/us_phone_recognizer.py
  presidio-analyzer/tests/test_us_phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update setup.py
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add documentation
  docs/anonymizer/index.md
  docs/api-docs/api-docs.yml
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix merge issue
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

Update docs/anonymizer/index.md
  docs/anonymizer/index.md
Due: pipelines/CI-presidio-dev.yaml

fix PR comments
  docs/anonymizer/index.md
Due: pipelines/CI-presidio-dev.yaml

Update presidio-anonymizer/README.MD
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix PR comments
  docs/anonymizer/index.md
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update docs
  docs/anonymizer/index.md
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

analyzer us phone regex fix (#658)
  presidio-analyzer/presidio_analyzer/predefined_recognizers/us_phone_recognizer.py
  presidio-analyzer/tests/test_us_phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix deanonymizer documentation (#657)
  docs/anonymizer/index.md
  docs/api-docs/api-docs.yml
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Upgrade spacy version (#656)
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

block custom anonymizer from REST endpoint
  docs/samples/python/example_custom_lambda_anonymizer.py
  e2e-tests/tests/test_anonymizer.py
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lint
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lint
  presidio-anonymizer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update docs with supprted python versions (#653)
  README.MD
  docs/installation.md
  presidio-analyzer/setup.py
  presidio-anonymizer/setup.py
  presidio-image-redactor/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove prints
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add change log
  docs/CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml

one more lint issue....
  presidio-anonymizer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

one more lint issue....
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add change log
  CONTRIBUTING.md
  docs/CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add matplotlib to setup.py and Pipfile
  presidio-image-redactor/Pipfile
  presidio-image-redactor/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

ADF template gallery docs
  docs/samples/deployments/data-factory/Data-anonymization01.png
  docs/samples/deployments/data-factory/Data-anonymization02.png
  docs/samples/deployments/data-factory/Data-anonymization03.png
  docs/samples/deployments/data-factory/Data-anonymization04.png
  docs/samples/deployments/data-factory/azure-deploy-adf-template-gallery.json
  docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
  docs/samples/deployments/data-factory/presidio-data-factory.md
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml
