Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

Including entity tag equivalences with Presidio (#818)
  docs/samples/python/Presidio_with_Flair_as_a_3rd_party_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

Update VERSION
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION-IMAGE-REDACTOR
  VERSION-IMAGE-REDACTOR
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update CHANGELOG.md
  CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION to 2.2.24 (#820)
  CHANGELOG.md
  VERSION
  VERSION-IMAGE-REDACTOR
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

initial url recognizer
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/url_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_recognizer_registry.py
  presidio-analyzer/tests/test_url_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix linting
  presidio-analyzer/presidio_analyzer/predefined_recognizers/url_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting/formatting samples
  docs/samples/index.md
  docs/samples/python/custom_presidio.py
  docs/samples/python/example_custom_lambda_anonymizer.py
  docs/samples/python/example_remote_recognizer.py
  docs/samples/python/flair_recognizer.py
  docs/samples/python/index.md
  docs/samples/python/streamlit/presidio_streamlit.py
  docs/samples/python/text_analytics/__init__.py
  docs/samples/python/text_analytics/example_text_analytics_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

Linting/formatting samples (#827)
  docs/samples/index.md
  docs/samples/python/custom_presidio.py
  docs/samples/python/example_custom_lambda_anonymizer.py
  docs/samples/python/example_remote_recognizer.py
  docs/samples/python/flair_recognizer.py
  docs/samples/python/index.md
  docs/samples/python/streamlit/presidio_streamlit.py
  docs/samples/python/text_analytics/__init__.py
  docs/samples/python/text_analytics/example_text_analytics_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

refactor and modularize context words logic
  docs/api-docs/api-docs.yml
  presidio-analyzer/app.py
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/analyzer_request.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/__init__.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/entity_recognizer.py
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_result.py
  presidio-analyzer/tests/test_context_support.py
  presidio-analyzer/tests/test_phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix issue when we have a PII at the end of a line, the indexes can be the same if the word was reducted. Added tests as well
  presidio-anonymizer/presidio_anonymizer/entities/engine/pii_entity.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
  presidio-anonymizer/tests/test_text_replace_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix linting
  presidio-anonymizer/tests/test_text_replace_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix test
  presidio-anonymizer/tests/test_recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

CR comments
  docs/supported_entities.md
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/url_recognizer.py
  presidio-analyzer/tests/test_url_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix test name
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

empty commit
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix indices bug and add tests
  presidio-anonymizer/presidio_anonymizer/entities/engine/pii_entity.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
  presidio-anonymizer/tests/test_recognizer_result.py
  presidio-anonymizer/tests/test_text_replace_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

When we have a PII at the end of a line, the indexes can be… (#829)
  presidio-anonymizer/README.MD
  presidio-anonymizer/presidio_anonymizer/entities/engine/pii_entity.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
  presidio-anonymizer/tests/test_recognizer_result.py
  presidio-anonymizer/tests/test_text_replace_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

[TEST] doc update
  README.MD
Due: pipelines/CI-presidio-dev.yaml

E2E fix + PR review comments
  presidio-analyzer/presidio_analyzer/__init__.py
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

PR review comments
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added to api-docs
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

add UT for aditional context param +fix lower bug
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
  presidio-analyzer/tests/test_context_support.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

create new cotext per result iteration
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove unused comment
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fixed typo
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding a different validator to url recognizer
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/presidio_analyzer/predefined_recognizers/url_recognizer.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_url_recognizer.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix e2e tests
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

change credit
  presidio-analyzer/presidio_analyzer/predefined_recognizers/url_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

PR review comments
  docs/api-docs/api-docs.yml
  e2e-tests/tests/test_analyzer.py
  e2e-tests/tests/test_e2e_integration_flows.py
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/tests/test_context_support.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

move recognizer name to recogmnized_metadata dict
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix e2e tests
  e2e-tests/tests/test_analyzer.py
  e2e-tests/tests/test_e2e_integration_flows.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add recognized_metadata to swagger
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

PR review comments
  docs/api-docs/api-docs.yml
  e2e-tests/tests/test_analyzer.py
  e2e-tests/tests/test_e2e_integration_flows.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove domain_recognizer.py
  docs/api-docs/api-docs.yml
  docs/supported_entities.md
  e2e-tests/resources/demo_anonymized.txt
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/domain_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/url_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/setup.py
  presidio-analyzer/tests/mocks/recognizer_registry_mock.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_domain_recognizer.py
  presidio-analyzer/tests/test_recognizer_registry.py
  presidio-analyzer/tests/test_url_recognizer.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

More elegant regex
  presidio-analyzer/presidio_analyzer/predefined_recognizers/url_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
