Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

Enabling ImagePiiVerifyEngine to accept kwargs
  presidio-image-redactor/presidio_image_redactor/image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updating changelog
  CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding in WIP notebook and docs
  docs/image-redactor/evaluating_dicom_redaction.md
  docs/samples/python/example_dicom_redactor_evaluation.ipynb
  docs/samples/python/sample_data/ground_truth.json
Due: pipelines/CI-presidio-dev.yaml

Fix: merge entity from the same type (#934)
  .pre-commit-config.yaml
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/recognizer_result.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Bump analyzer, image-redactor dependencies
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Bump analyzer, image-redactor dependencies
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update example_text_analytics_recognizer.py
  docs/samples/python/text_analytics/example_text_analytics_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

new lock
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

from omri
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

cli
  presidio-cli/Pipfile
  presidio-cli/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Bump analyzer, image-redactor dependencies + Fix CLI hanging (#980)
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
  presidio-cli/Pipfile
  presidio-cli/Pipfile.lock
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix whitespace in AU recognizers
  presidio-analyzer/presidio_analyzer/predefined_recognizers/au_abn_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/au_acn_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/au_medicare_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/au_tfn_recognizer.py
  presidio-analyzer/tests/test_au_abn_recognizer.py
  presidio-analyzer/tests/test_au_acn_recognizer.py
  presidio-analyzer/tests/test_au_medicare_recognizer.py
  presidio-analyzer/tests/test_au_tfn_recognizer.py
  presidio-analyzer/tests/test_certificate_number_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add revised example for transformer recognizer (#962)
  docs/samples/index.md
  docs/samples/python/transformers_recognizer.py
  docs/samples/python/transformers_recognizer/__init__.py
  docs/samples/python/transformers_recognizer/configuration.py
  docs/samples/python/transformers_recognizer/transformer_recognizer.md
  docs/samples/python/transformers_recognizer/transformer_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

lint
  presidio-analyzer/presidio_analyzer/predefined_recognizers/au_tfn_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Delete stale.yml (#961)
  .github/workflows/stale.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update example_text_analytics_recognizer.py (#981)
  docs/samples/python/text_analytics/example_text_analytics_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

Rename transformer_recognizer.md to index.md
  docs/samples/python/transformers_recognizer/index.md
Due: pipelines/CI-presidio-dev.yaml

Fix exception on whitespace in AU recognizers (#983)
  presidio-analyzer/presidio_analyzer/predefined_recognizers/au_abn_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/au_acn_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/au_medicare_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/au_tfn_recognizer.py
  presidio-analyzer/tests/test_au_abn_recognizer.py
  presidio-analyzer/tests/test_au_acn_recognizer.py
  presidio-analyzer/tests/test_au_medicare_recognizer.py
  presidio-analyzer/tests/test_au_tfn_recognizer.py
  presidio-analyzer/tests/test_certificate_number_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Don't use 3.11 when releasing docs (#974)
  .pipelines/templates/release-docs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update build-image-redactor.yml
  .pipelines/templates/build-image-redactor.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update build-image-redactor.yml (#985)
  .pipelines/templates/build-image-redactor.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Rename transformer_recognizer.md to index.md (#984)
  docs/samples/python/transformers_recognizer/index.md
Due: pipelines/CI-presidio-dev.yaml

Enabling ImagePiiVerifyEngine to accept kwargs (#978)
  CHANGELOG.md
  presidio-image-redactor/presidio_image_redactor/image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updating versions
  CHANGELOG.md
  VERSION
  VERSION-IMAGE-REDACTOR
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting fix v1
  presidio-image-redactor/presidio_image_redactor/dicom_image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting v2
  presidio-image-redactor/presidio_image_redactor/dicom_image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add rounding to integration test to account for minor differences in real testing
  presidio-image-redactor/tests/integration/test_dicom_image_pii_verify_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fixing typo with wrong variable name
  presidio-image-redactor/tests/integration/test_dicom_image_pii_verify_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Removing check for exact or rounded conf
  presidio-image-redactor/tests/integration/test_dicom_image_pii_verify_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updating logic for comparing ocr_results
  presidio-image-redactor/tests/integration/test_dicom_image_pii_verify_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding new function to get pixel array crop
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding unit tests
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
  presidio-image-redactor/tests/test_dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Removing unused mocker
  presidio-image-redactor/tests/test_dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Minor fixes on DICOM verify code based on PR comments
  presidio-image-redactor/presidio_image_redactor/dicom_image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
