Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

default value
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
Due: pipelines/CI-presidio-dev.yaml

limitations
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
Due: pipelines/CI-presidio-dev.yaml

document spark dependencies
  docs/samples/deployments/spark/index.md
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml

PR comments
  docs/CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml

document spark dependencies (#662)
  docs/samples/deployments/spark/index.md
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml

PR comments
  CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add note for V2 changlog
  docs/presidio_V2.md
Due: pipelines/CI-presidio-dev.yaml

Change log (#659)
  CHANGELOG.md
  CONTRIBUTING.md
  docs/presidio_V2.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION-IMAGE-REDACTOR
  VERSION-IMAGE-REDACTOR
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION-IMAGE-REDACTOR (#663)
  VERSION-IMAGE-REDACTOR
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

changed title
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
Due: pipelines/CI-presidio-dev.yaml

ADF template gallery sample (#661)
  docs/samples/deployments/data-factory/Data-anonymization01.png
  docs/samples/deployments/data-factory/Data-anonymization02.png
  docs/samples/deployments/data-factory/Data-anonymization03.png
  docs/samples/deployments/data-factory/Data-anonymization04.png
  docs/samples/deployments/data-factory/azure-deploy-adf-template-gallery.json
  docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
  docs/samples/deployments/data-factory/presidio-data-factory.md
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

Image redactor 3.9 support
  .pipelines/templates/lint-build-test.yml
  docs/installation.md
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Image redactor 3.9 support
  presidio-image-redactor/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Lock mkdocs-material version
  docs/requirements-docs.txt
Due: pipelines/CI-presidio-dev.yaml

Lock mkdocs-material version (#665)
  docs/requirements-docs.txt
Due: pipelines/CI-presidio-dev.yaml

Upgrade mkdocs-material to latest
  docs/requirements-docs.txt
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Upgrade mkdocs-material to latest (#666)
  docs/requirements-docs.txt
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Image redactor 3.9 support (#664)
  .pipelines/templates/lint-build-test.yml
  VERSION-IMAGE-REDACTOR
  docs/installation.md
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Create CODE_OF_CONDUCT
  CODE_OF_CONDUCT
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Create CODE_OF_CONDUCT (#667)
  CODE_OF_CONDUCT
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add operators dynamically
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/deanonymize_engine.py
  presidio-anonymizer/presidio_anonymizer/operators/__init__.py
  presidio-anonymizer/presidio_anonymizer/operators/operators_factory.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update __init__.py
  presidio-image-redactor/presidio_image_redactor/__init__.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

template link
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
Due: pipelines/CI-presidio-dev.yaml

added docs
  docs/samples/deployments/data-factory/presidio-data-factory.md
Due: pipelines/CI-presidio-dev.yaml

ADF templates docs (#671)
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
  docs/samples/deployments/data-factory/presidio-data-factory.md
Due: pipelines/CI-presidio-dev.yaml

broadcast presidio in databricks
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml

broadcast presidio in databricks (#672)
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml

Add Text Analytics Recognizer
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/conf/text_analytics_entity_categories.yaml
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/text_analytics_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/presidio_analyzer/text_analytics_entity_category.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix UT
  presidio-analyzer/tests/test_recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add to setup.py
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add Text Analytics Recognizer
  .pipelines/templates/release.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update release.yml for Azure Pipelines
  .pipelines/templates/release.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

initial commit
  docs/analyzer/adding_recognizers.md
  docs/api-docs/api-docs.yml
  docs/samples/python/customizing_presidio_analyzer.ipynb
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/app.py
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/analyzer_request.py
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

yaml fix
  docs/api-docs/api-docs.yml
Due: pipelines/CI-presidio-dev.yaml

Update pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
