Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

Adding unit test for allow list functionality
  docs/samples/python/image_redaction_allow_list_approach.ipynb
  presidio-image-redactor/tests/test_image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting fixes
  presidio-image-redactor/presidio_image_redactor/image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Removing spaces in empty lines
  presidio-image-redactor/presidio_image_redactor/image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix integration test not accounting for empty space removal
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Anonymizer - Pass bytes key to Encrypt / Decrypt
  presidio-anonymizer/presidio_anonymizer/operators/decrypt.py
  presidio-anonymizer/presidio_anonymizer/operators/encrypt.py
  presidio-anonymizer/tests/integration/test_deanonymize_engine.py
  presidio-anonymizer/tests/operators/test_decrypt.py
  presidio-anonymizer/tests/operators/test_encrypt.py
  presidio-anonymizer/tests/services/test_aes_cypher.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lock
  .pipelines/templates/build-python.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lints
  presidio-anonymizer/tests/operators/test_decrypt.py
  presidio-anonymizer/tests/operators/test_encrypt.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

DICOM redactor improvement: Enable selection of redact approach (#1113)
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
  presidio-image-redactor/tests/integration/test_dicom_image_redactor_engine_integration.py
  presidio-image-redactor/tests/test_dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Changing test exception type check
  presidio-image-redactor/tests/test_dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

New pipfile.lock to overcome security issues
  .pipelines/templates/build-python.yml
  presidio-analyzer/Pipfile.lock
  presidio-anonymizer/Pipfile.lock
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updating notebook with more examples and adding ad_hoc_recognizers approach to standard image redactor engine as well
  docs/samples/python/image_redaction_allow_list_approach.ipynb
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
  presidio-image-redactor/presidio_image_redactor/image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding method to augment words more thoroughly
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting fixes
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
  presidio-image-redactor/presidio_image_redactor/image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Removing incomplete example code
  docs/samples/python/image_redaction_allow_list_approach.ipynb
Due: pipelines/CI-presidio-dev.yaml

Adding unit test
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
  presidio-image-redactor/tests/test_dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updated pipfile.lock on presidio-cli
  presidio-cli/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updates to pipenv.lock
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update build-analyzer.yml
  .pipelines/templates/build-analyzer.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

re-locked analyzer
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

local lock
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

install from pipfile
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-anonymizer.yml
  .pipelines/templates/build-cli.yml
  .pipelines/templates/build-image-redactor.yml
  presidio-analyzer/Dockerfile
  presidio-analyzer/Dockerfile.transformers
  presidio-anonymizer/Dockerfile
  presidio-image-redactor/Dockerfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

install from pipfile
  .gitignore
  presidio-analyzer/Pipfile.lock
  presidio-anonymizer/Pipfile.lock
  presidio-cli/Pipfile.lock
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

install from pipfile
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update versions
  docs/development.md
  presidio-analyzer/Pipfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Limit next major version for image-redactor dependencies
  presidio-image-redactor/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update Pipfile for anonymizer
  presidio-anonymizer/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Limit next major version for image-redactor dependencies (#1153)
  presidio-anonymizer/Pipfile
  presidio-image-redactor/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update security-analysis.yml
  .pipelines/templates/security-analysis.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update Pipfile
  presidio-anonymizer/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

install from pipfile (#1152)
  .gitignore
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-anonymizer.yml
  .pipelines/templates/build-cli.yml
  .pipelines/templates/build-image-redactor.yml
  docs/development.md
  presidio-analyzer/Dockerfile
  presidio-analyzer/Dockerfile.transformers
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-anonymizer/Dockerfile
  presidio-anonymizer/Pipfile
  presidio-anonymizer/Pipfile.lock
  presidio-cli/Pipfile.lock
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Enable toggle of printing output location after redacting from file (#1144)
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update security-analysis.yml (#1154)
  .pipelines/templates/security-analysis.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Anonymizer - Pass bytes key to Encrypt / Decrypt (#1147)
  .pipelines/templates/build-python.yml
  presidio-anonymizer/presidio_anonymizer/operators/decrypt.py
  presidio-anonymizer/presidio_anonymizer/operators/encrypt.py
  presidio-anonymizer/tests/integration/test_deanonymize_engine.py
  presidio-anonymizer/tests/operators/test_decrypt.py
  presidio-anonymizer/tests/operators/test_encrypt.py
  presidio-anonymizer/tests/services/test_aes_cypher.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Changing test exception type check (#1148)
  presidio-image-redactor/tests/test_dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fixing section header numbers
  docs/samples/python/image_redaction_allow_list_approach.ipynb
Due: pipelines/CI-presidio-dev.yaml

Removing duplicate comment
  docs/samples/python/image_redaction_allow_list_approach.ipynb
Due: pipelines/CI-presidio-dev.yaml

PR comments changes
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
  presidio-image-redactor/tests/test_dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting fix
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Enabling allow list approach with all image redaction (#1145)
  docs/samples/index.md
  docs/samples/python/image_redaction_allow_list_approach.ipynb
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
  presidio-image-redactor/presidio_image_redactor/image_analyzer_engine.py
  presidio-image-redactor/presidio_image_redactor/image_redactor_engine.py
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
  presidio-image-redactor/tests/test_image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Improve process names method in DICOM image redactor (#1150)
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
  presidio-image-redactor/tests/test_dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
