Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

try to fix import issues.
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix Deploy to Azure templates (#628)
  docs/samples/deployments/app-service/presidio-services.json
  docs/samples/deployments/app-service/values.json
  docs/samples/deployments/data-factory/azure-deploy-adf-app-service.json
  presidio-analyzer/deploytoazure.json
  presidio-anonymizer/deploytoazure.json
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

single app service plan
  docs/samples/deployments/app-service/presidio-services.json
Due: pipelines/CI-presidio-dev.yaml

PR review -> be background compatible.
  e2e-tests/tests/test_e2e_integration_flows.py
  presidio-anonymizer/README.MD
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/__init__.py
  presidio-anonymizer/presidio_anonymizer/anonymize_engine.py
  presidio-anonymizer/presidio_anonymizer/core/engine_base.py
  presidio-anonymizer/presidio_anonymizer/decrypt_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/anonymize_config.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertors.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
  presidio-anonymizer/tests/test_anonymize_config.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_app_entities_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix linting
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

PR - comment, see the error.
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

revert
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

change from PxV3 to V2
  docs/samples/deployments/app-service/presidio-services.json
  presidio-analyzer/deploytoazure.json
  presidio-anonymizer/deploytoazure.json
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Return application/json mime type in all endpoints (#626)
  e2e-tests/tests/test_anonymizer.py
  e2e-tests/tests/test_image_redactor.py
  presidio-analyzer/app.py
  presidio-analyzer/presidio_analyzer/error_response.py
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/entities/error_response.py
  presidio-image-redactor/app.py
  presidio-image-redactor/presidio_image_redactor/entities/__init__.py
  presidio-image-redactor/presidio_image_redactor/entities/error_response.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

PR comments
  docs/samples/deployments/app-service/presidio-services.json
Due: pipelines/CI-presidio-dev.yaml

revert back to en_core_web_lg
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-image-redactor.yml
  docs/analyzer/index.md
  docs/analyzer/languages.md
  docs/development.md
  docs/getting_started.md
  docs/image-redactor/index.md
  docs/installation.md
  docs/samples/python/customizing_presidio_analyzer.ipynb
  docs/samples/python/example_remote_recognizer.py
  docs/samples/python/presidio_notebook.ipynb
  e2e-tests/resources/demo.txt
  presidio-analyzer/conf/default.yaml
  presidio-analyzer/conf/spacy_multilingual.yaml
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_engine_provider.py
  presidio-analyzer/presidio_analyzer/nlp_engine/spacy_nlp_engine.py
  presidio-analyzer/tests/conf/default.yaml
  presidio-analyzer/tests/conftest.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymized_entity.py
  presidio-anonymizer/presidio_anonymizer/entities/anonymizer_result.py
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update allowed values with PxV3
  docs/samples/deployments/app-service/presidio-services.json
Due: pipelines/CI-presidio-dev.yaml

deploy to azure
  presidio-image-redactor/README.MD
  presidio-image-redactor/deploytoazure.json
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

make the zipp to version under 3.8
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix linting due to merge
  presidio-anonymizer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix issue with pipfile lock upgrade. When building with python 3.8, i… (#629)
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

new pipfile.lock
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix broken docs link
  README.MD
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

Fix PR comments
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/__init__.py
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/core/engine_base.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/anonymizer_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/decrypt_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/operator_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/result_item_builder.py
  presidio-anonymizer/tests/test_anonymize_config.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

deploy to azure (#632)
  presidio-image-redactor/README.MD
  presidio-image-redactor/deploytoazure.json
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

linting
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/result_item_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix parameter type
  docs/samples/deployments/data-factory/azure-deploy-adf-app-service.json
Due: pipelines/CI-presidio-dev.yaml

remove my name from code.
  e2e-tests/tests/test_anonymizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add engine test for encrypt decrypt in integration tests Add helper method to change anonymized entity into encrypt result.
  presidio-anonymizer/presidio_anonymizer/entities/engine/encrypt_result.py
  presidio-anonymizer/tests/integration/test_decrypt_engine.py
  presidio-anonymizer/tests/test_encrypt_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add docs
  presidio-anonymizer/presidio_anonymizer/entities/engine/encrypt_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix import
  presidio-anonymizer/tests/integration/test_decrypt_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Enable deploying Presidio services on a single App Service Plan (#630)
  docs/samples/deployments/app-service/presidio-app-service.json
  docs/samples/deployments/app-service/presidio-services.json
  docs/samples/deployments/data-factory/azure-deploy-adf-app-service.json
Due: pipelines/CI-presidio-dev.yaml

Remove unneeded field
  e2e-tests/tests/test_anonymizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Revert the change of class name
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

init
  docs/samples/python/test.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/__init__.py
  presidio-anonymizer/presidio_anonymizer/anonymizers/custom_replace.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add python version badge to readme
  README.MD
  presidio-analyzer/setup.py
  presidio-anonymizer/setup.py
  presidio-image-redactor/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Python 3.9 support
  presidio-analyzer/Dockerfile
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Revert image redactor
  .pipelines/templates/lint-build-test.yml
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-anonymizer/Dockerfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

test lower versions.
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

ignore test
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

downgrade spacy
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

downgrade spacy
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_spacy_recognizer.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

downgrade spacy
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
