Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

update docstring
  presidio-anonymizer/presidio_anonymizer/batch_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update docstring + optional
  presidio-anonymizer/presidio_anonymizer/batch_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add batch anonymization (#993)
  docs/samples/index.md
  docs/samples/python/batch_processing.ipynb
  docs/samples/python/example_csv.py
  docs/samples/python/process_csv_file.py
  presidio-anonymizer/presidio_anonymizer/__init__.py
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/batch_anonymizer_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/dict_recognizer_result.py
  presidio-anonymizer/tests/test_batch_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Revert "Remove link to demo website (temporary) (#1047)"
  README.MD
  docs/faq.md
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

Revert "Remove link to demo website (temporary) (#1047)" (#1068)
  README.MD
  docs/faq.md
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

push images on CI
  .pipelines/templates/build-and-push-containers.yml
  azure-pipelines-ci.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

push images on CI (#1072)
  .pipelines/templates/build-and-push-containers.yml
  azure-pipelines-ci.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updated Pipefile.lock
  presidio-analyzer/Pipfile.lock
  presidio-anonymizer/Pipfile.lock
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updated Pipfile.lock for presidio-cli
  presidio-cli/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updates to demo website
  docs/samples/python/streamlit/flair_recognizer.py
  docs/samples/python/streamlit/openai_fake_data_generator.py
  docs/samples/python/streamlit/presidio_helpers.py
  docs/samples/python/streamlit/presidio_nlp_engine_config.py
  docs/samples/python/streamlit/presidio_streamlit.py
  docs/samples/python/streamlit/requirements.txt
  docs/samples/python/streamlit/text_analytics_wrapper.py
Due: pipelines/CI-presidio-dev.yaml

Updates to streamlit demo
  docs/samples/python/streamlit/transformers_rec/configuration.py
  docs/samples/python/streamlit/transformers_rec/transformers_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

Lock with 3.8, drop building on 3.7 for 3.11
  .pipelines/templates/lint-build-test.yml
  docs/development.md
  docs/installation.md
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
  presidio-anonymizer/Pipfile.lock
  presidio-anonymizer/setup.py
  presidio-cli/Pipfile.lock
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

eexport home
  .pipelines/templates/build-python.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION to 2.2.33
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION-IMAGE-REDACTOR
  VERSION-IMAGE-REDACTOR
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update CHANGELOG.md
  CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

CI on Python 3.8-3.11 only
  .pipelines/templates/lint-build-test.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix test
  presidio-cli/presidio_cli/config.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix test
  .pipelines/templates/build-python.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

downgrade PIL
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

test import PIL
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Lock with 3.8, drop building on 3.7 for 3.11 (#1080)
  .pipelines/templates/lint-build-test.yml
  docs/development.md
  docs/installation.md
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
  presidio-anonymizer/Pipfile.lock
  presidio-anonymizer/setup.py
  presidio-cli/Pipfile.lock
  presidio-cli/presidio_cli/config.py
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/presidio_image_redactor/dicom_image_redactor_engine.py
  presidio-image-redactor/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update index.md
  docs/samples/python/streamlit/index.md
Due: pipelines/CI-presidio-dev.yaml

Update setup.py
  presidio-anonymizer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updated demo website (#1078)
  docs/samples/python/streamlit/flair_recognizer.py
  docs/samples/python/streamlit/index.md
  docs/samples/python/streamlit/openai_fake_data_generator.py
  docs/samples/python/streamlit/presidio_helpers.py
  docs/samples/python/streamlit/presidio_nlp_engine_config.py
  docs/samples/python/streamlit/presidio_streamlit.py
  docs/samples/python/streamlit/requirements.txt
  docs/samples/python/streamlit/text_analytics_wrapper.py
  docs/samples/python/streamlit/transformers_rec/configuration.py
  docs/samples/python/streamlit/transformers_rec/transformers_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

Update setup.py (#1082)
  presidio-anonymizer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update configuration.py
  docs/samples/python/transformers_recognizer/configuration.py
Due: pipelines/CI-presidio-dev.yaml

Update transformer_recognizer.py
  docs/samples/python/transformers_recognizer/transformer_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

Update index.md
  docs/samples/python/transformers_recognizer/index.md
Due: pipelines/CI-presidio-dev.yaml

added output
  docs/samples/python/Anonymizing known values.ipynb
Due: pipelines/CI-presidio-dev.yaml

Update mkdocs.yml
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updates to the TransformersRecognizer sample (#1084)
  docs/samples/python/transformers_recognizer/configuration.py
  docs/samples/python/transformers_recognizer/index.md
  docs/samples/python/transformers_recognizer/transformer_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

Delete Pipfile
  docs/samples/Pipfile
Due: pipelines/CI-presidio-dev.yaml
