Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

update dependencies - Bump pydantic from 1.7.3 to 1.7.4 (#710)
  presidio-analyzer/Pipfile.lock
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

docs fixes
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery-http.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
  docs/samples/deployments/data-factory/presidio-data-factory.md
  docs/samples/deployments/spark/index.md
Due: pipelines/CI-presidio-dev.yaml

docs fixes (#716)
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery-http.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
  docs/samples/deployments/data-factory/presidio-data-factory.md
  docs/samples/deployments/spark/index.md
Due: pipelines/CI-presidio-dev.yaml

Add date cases
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
  presidio-analyzer/tests/test_date_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

linting
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

make non default
  docs/api-docs/api-docs.yml
  docs/supported_entities.md
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

make non default
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove tests
  presidio-analyzer/tests/test_spacy_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add more cases
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
  presidio-analyzer/tests/test_date_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add ORGANIZATION spacy entity (#715)
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update README.MD
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Split new cases, add tests
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
  presidio-analyzer/tests/test_date_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add more Date Recognizer Cases (#717)
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
  presidio-analyzer/tests/test_date_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add Medical License Recognizer as Predefined
  docs/api-docs/api-docs.yml
  docs/supported_entities.md
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/medical_license_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/tests/test_certificate_number_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix ut
  presidio-analyzer/tests/test_recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add Medical License as a Predefined Recognizer (#719)
  docs/api-docs/api-docs.yml
  docs/supported_entities.md
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/medical_license_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/tests/test_certificate_number_recognizer.py
  presidio-analyzer/tests/test_recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Test result for EMAIL_ADDRESS and DOMAIN_NAME is off by a pixel.
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

un overide tests
  sdk/csharp/src/Presidio.Test/Api/AnalyzerApiTests.cs
  sdk/csharp/src/Presidio.Test/Api/AnonymizerApiTests.cs
  sdk/csharp/src/Presidio.Test/Api/DeanonymizeApiTests.cs
  sdk/csharp/src/Presidio.Test/Model/AnalysisExplanationTests.cs
  sdk/csharp/src/Presidio.Test/Model/AnalyzeRequestTests.cs
  sdk/csharp/src/Presidio.Test/Model/AnonymizeRequestTests.cs
  sdk/csharp/src/Presidio.Test/Model/AnonymizeResponseTests.cs
  sdk/csharp/src/Presidio.Test/Model/AnonymizerResultTests.cs
  sdk/csharp/src/Presidio.Test/Model/DeanonymizeRequestTests.cs
  sdk/csharp/src/Presidio.Test/Model/DeanonymizeResponseTests.cs
  sdk/csharp/src/Presidio.Test/Presidio.Test.csproj
  sdk/csharp/src/Presidio/Presidio.csproj
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

versioning
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

versioning
  presidio-analyzer/Pipfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

versioning
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

versioning
  presidio-analyzer/Pipfile
  presidio-image-redactor/Pipfile
  presidio-image-redactor/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix Versioning Issues (#728)
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
  presidio-image-redactor/Pipfile
  presidio-image-redactor/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add changelog
  CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update CHANGELOG.md
  CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Multiregional Phone Number Recognizer
  presidio-analyzer/Pipfile
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/us_phone_recognizer.py
  presidio-analyzer/tests/test_phone_recognizer.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lock, add notice, add to setup
  NOTICE
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

black with python3
  .pre-commit-config.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

refactor + docstring
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
  presidio-analyzer/tests/test_phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add exp.
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add default regions
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/tests/test_phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Move international to default
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Make recognizer nondefault
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Rebase main
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Move to class fields
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Bump version to 2.2.2 (#731)
  CHANGELOG.md
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lint
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

non fields
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
