Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

docs and dockerfiles
  .github/CODEOWNERS
  docs/development.md
  presidio-analyzer/Dockerfile.transformers
  presidio-analyzer/Dockerfile.windows
  presidio-anonymizer/Dockerfile.windows
  presidio-cli/README.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

merge with main
  presidio-analyzer/VERSION
  presidio-anonymizer/VERSION
  presidio-image-redactor/VERSION
  presidio-structured/VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

interim commit
  presidio-analyzer/presidio_analyzer/analyzer_utils.py
  presidio-analyzer/presidio_analyzer/entity_recognizer.py
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/cfi_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

addressed comments
  docs/analyzer/analyzer_engine_provider.md
  docs/analyzer/recognizer_registry_provider.md
  presidio-analyzer/presidio_analyzer/conf/default_recognizers.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

config update
  docs/analyzer/analyzer_engine_provider.md
Due: pipelines/CI-presidio-dev.yaml

simplified predefined recognizer parsing rules
  docs/analyzer/analyzer_engine_provider.md
  docs/analyzer/recognizer_registry_provider.md
  presidio-analyzer/presidio_analyzer/conf/default_recognizers.yaml
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry_provider.py
  presidio-analyzer/tests/conf/test_analyzer_engine.yaml
  presidio-analyzer/tests/conf/test_recognizer_registry.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update docs/analyzer/analyzer_engine_provider.md
  docs/analyzer/analyzer_engine_provider.md
Due: pipelines/CI-presidio-dev.yaml

indentation
  docs/analyzer/analyzer_engine_provider.md
Due: pipelines/CI-presidio-dev.yaml

formatting
  docs/analyzer/recognizer_registry_provider.md
Due: pipelines/CI-presidio-dev.yaml

added link to regex flags docs
  docs/analyzer/recognizer_registry_provider.md
Due: pipelines/CI-presidio-dev.yaml

Feature/analyzer documentation (#1384)
  docs/analyzer/analyzer_engine_provider.md
  docs/analyzer/recognizer_registry_provider.md
  docs/tutorial/08_no_code.md
  mkdocs.yml
  presidio-analyzer/presidio_analyzer/conf/default_recognizers.yaml
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry_provider.py
  presidio-analyzer/tests/conf/test_analyzer_engine.yaml
  presidio-analyzer/tests/conf/test_recognizer_registry.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Try with poetry
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-anonymizer.yml
  .pipelines/templates/build-cli.yml
  .pipelines/templates/build-image-redactor.yml
  .pipelines/templates/build-python.yml
  .pipelines/templates/build-structured.yml
  docs/development.md
  presidio-analyzer/Dockerfile
  presidio-analyzer/Dockerfile.transformers
  presidio-analyzer/VERSION
  presidio-analyzer/pyproject.toml
  presidio-anonymizer/VERSION
  presidio-anonymizer/pyproject.toml
  presidio-cli/presidio_cli/__init__.py
  presidio-cli/pyproject.toml
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/VERSION
  presidio-image-redactor/pyproject.toml
  presidio-structured/VERSION
  presidio-structured/pyproject.toml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Try with poetry
  .pipelines/templates/build-analyzer.yml
  presidio-analyzer/Dockerfile
  presidio-analyzer/Dockerfile.transformers
  presidio-analyzer/Dockerfile.windows
  presidio-anonymizer/Dockerfile
  presidio-anonymizer/Dockerfile.windows
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/pyproject.toml
  presidio-structured/pyproject.toml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Try with poetry
  presidio-analyzer/pyproject.toml
  presidio-anonymizer/Dockerfile
  presidio-anonymizer/pyproject.toml
  presidio-cli/pyproject.toml
  presidio-image-redactor/pyproject.toml
  presidio-structured/pyproject.toml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Try with poetry
  presidio-analyzer/pyproject.toml
  presidio-image-redactor/pyproject.toml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

drop numpy
  presidio-analyzer/pyproject.toml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

version
  presidio-analyzer/pyproject.toml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

no-root
  presidio-analyzer/Dockerfile
  presidio-anonymizer/Dockerfile
  presidio-image-redactor/Dockerfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added presidio structured downloads to readme
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Added presidio structured downloads to readme (#1392)
  README.MD
Due: pipelines/CI-presidio-dev.yaml

changing predefined recognizers to use the config file
  presidio-analyzer/presidio_analyzer/conf/default_recognizers.yaml
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove unused recognizers
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

linting
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

adding warning message for unsupported languages
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry_provider.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

linting
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry_provider.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

linting because method is now public
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry_provider.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

added language validation
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

added documents, fixed tests (way better)
  docs/analyzer/analyzer_engine_provider.md
  docs/analyzer/recognizer_registry_provider.md
  presidio-analyzer/tests/test_recognizer_registry.py
  presidio-image-redactor/tests/test_image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

ruff linting
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix version extraction
  .github/CODEOWNERS
  .gitignore
  .pipelines/templates/release.yml
  .pipelines/templates/validate-version.yml
  presidio-image-redactor/pyproject.toml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

revert test
  presidio-analyzer/tests/test_stanza_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

comment hanging test
  presidio-analyzer/tests/test_stanza_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

try clause
  presidio-cli/presidio_cli/__init__.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

From Pipenv to Poetry (#1391)
  .github/CODEOWNERS
  .gitignore
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-anonymizer.yml
  .pipelines/templates/build-cli.yml
  .pipelines/templates/build-image-redactor.yml
  .pipelines/templates/build-python.yml
  .pipelines/templates/build-structured.yml
  .pipelines/templates/e2e-tests.yml
  .pipelines/templates/release.yml
  .pipelines/templates/validate-version.yml
  VERSION
  VERSION-IMAGE-REDACTOR
  VERSION-PRESIDIO-STRUCTURED
  docs/development.md
  presidio-analyzer/Dockerfile
  presidio-analyzer/Dockerfile.transformers
  presidio-analyzer/Dockerfile.windows
  presidio-analyzer/Pipfile
  presidio-analyzer/README.md
  presidio-analyzer/VERSION
  presidio-analyzer/pyproject.toml
  presidio-analyzer/tests/test_stanza_recognizer.py
  presidio-anonymizer/Dockerfile
  presidio-anonymizer/Dockerfile.windows
  presidio-anonymizer/Pipfile
  presidio-anonymizer/README.md
  presidio-anonymizer/VERSION
  presidio-anonymizer/pyproject.toml
  presidio-cli/README.md
  presidio-cli/presidio_cli/__init__.py
  presidio-cli/pyproject.toml
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/Pipfile
  presidio-image-redactor/README.md
  presidio-image-redactor/VERSION
  presidio-image-redactor/pyproject.toml
  presidio-structured/Pipfile
  presidio-structured/VERSION
  presidio-structured/pyproject.toml
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Apply suggestions from code review
  docs/analyzer/analyzer_engine_provider.md
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry_provider.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove overlapping recognizers
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/aba_routing_number.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/aba_routing_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/us_passport_number.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/us_passport_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

minor fixups, more tests
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry_provider.py
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
