Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

Fix PR comments
  presidio-anonymizer/presidio_anonymizer/operators/operators_factory.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix PR comments
  presidio-anonymizer/presidio_anonymizer/entities/engine/decrypt_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/encrypt_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/operator_metadata.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/recognizer_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/text_metadata.py
  presidio-anonymizer/presidio_anonymizer/services/validators.py
  presidio-anonymizer/tests/test_app_entities_convertor.py
  presidio-anonymizer/tests/test_recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix PR comments - use comprehensions
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertors.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

more fix
  .pre-commit-config.yaml
  docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix PR comments - Change names and move classes accordingly.
  presidio-anonymizer/presidio_anonymizer/anonymize_engine.py
  presidio-anonymizer/presidio_anonymizer/core/__init__.py
  presidio-anonymizer/presidio_anonymizer/core/engine_base.py
  presidio-anonymizer/presidio_anonymizer/core/text_replace_builder.py
  presidio-anonymizer/presidio_anonymizer/decrypt_engine.py
  presidio-anonymizer/presidio_anonymizer/operators/aes_cipher.py
  presidio-anonymizer/presidio_anonymizer/operators/decrypt.py
  presidio-anonymizer/presidio_anonymizer/operators/encrypt.py
  presidio-anonymizer/presidio_anonymizer/operators/operators_factory.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
  presidio-anonymizer/tests/operators/test_decrypt.py
  presidio-anonymizer/tests/operators/test_encrypt.py
  presidio-anonymizer/tests/services/test_aes_cypher.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_text_interpolator.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

naming
  docs/samples/deployments/data-factory/azure-deploy-adf-databricks.json
Due: pipelines/CI-presidio-dev.yaml

fix linting
  presidio-anonymizer/presidio_anonymizer/core/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/recognizer_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/text_metadata.py
  presidio-anonymizer/presidio_anonymizer/services/validators.py
  presidio-anonymizer/tests/test_app_entities_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix linting
  presidio-anonymizer/presidio_anonymizer/core/__init__.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

mount point issues
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml

use dictionary comprehensions
  presidio-anonymizer/presidio_anonymizer/operators/operators_factory.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added image-redactor 3rd party OSS to NOTICE (#623)
  NOTICE
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix documentation and nameing.
  docs/api-docs/api-docs.yml
  presidio-anonymizer/presidio_anonymizer/entities/engine/operator_metadata.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix documentation and nameing.
  presidio-anonymizer/presidio_anonymizer/entities/engine/text_metadata.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

use pillow version 8.1.1
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove unused code.
  presidio-anonymizer/presidio_anonymizer/entities/engine/text_metadata.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

use pillow version 8.1.1 (#625)
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Return application/json mime type from all endpoints
  e2e-tests/tests/test_anonymizer.py
  presidio-analyzer/app.py
  presidio-analyzer/presidio_analyzer/error_response.py
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/entities/error_response.py
  presidio-image-redactor/app.py
  presidio-image-redactor/presidio_image_redactor/entities/__init__.py
  presidio-image-redactor/presidio_image_redactor/entities/error_response.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix response
  e2e-tests/tests/test_anonymizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Use dumps in analyze
  presidio-analyzer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update docs/samples/deployments/spark/presidio_anonymize_blobs.py
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml

Update docs/samples/index.md
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

mimetype for image redactor
  e2e-tests/tests/test_image_redactor.py
  presidio-image-redactor/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

PR comments
  docs/samples/deployments/spark/index.md
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml

Check pillow upgrade
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Check pillow upgrade
  presidio-image-redactor/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

new lock file (test)
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/data-factory/index.md
Due: pipelines/CI-presidio-dev.yaml

PR comments
  docs/samples/deployments/data-factory/adf-app-service-screenshot.png
  docs/samples/deployments/data-factory/adf-databricks-screenshot.png
  docs/samples/deployments/data-factory/index.md
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

fix links
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

Sample - ADF pipeline (#619)
  .pre-commit-config.yaml
  docs/samples/deployments/data-factory/adf-app-service-screenshot.png
  docs/samples/deployments/data-factory/adf-databricks-screenshot.png
  docs/samples/deployments/data-factory/azure-deploy-adf-app-service.json
  docs/samples/deployments/data-factory/azure-deploy-adf-databricks.json
  docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/index.md
  docs/samples/deployments/spark/index.md
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
  docs/samples/index.md
  presidio-anonymizer/deploytoazure.json
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add image reductor to arm template
  docs/samples/deployments/app-service/presidio-services.json
  docs/samples/deployments/app-service/values.json
  presidio-analyzer/deploytoazure.json
  presidio-anonymizer/deploytoazure.json
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

no image reductor in sample
  docs/samples/deployments/data-factory/azure-deploy-adf-app-service.json
Due: pipelines/CI-presidio-dev.yaml

fix description
  docs/samples/deployments/app-service/presidio-services.json
Due: pipelines/CI-presidio-dev.yaml

redactor
  docs/samples/deployments/app-service/presidio-services.json
  docs/samples/deployments/app-service/values.json
  docs/samples/deployments/data-factory/azure-deploy-adf-app-service.json
  presidio-analyzer/deploytoazure.json
  presidio-anonymizer/deploytoazure.json
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

PR comments
  presidio-anonymizer/presidio_anonymizer/core/text_replace_builder.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/anonymized_entity.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/decrypted_entity.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_engine_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Check no version filtering
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix linting
  presidio-anonymizer/presidio_anonymizer/entities/engine/text_metadata.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

init commit
  docs/samples/deployments/app-service/presidio-app-service.json
  docs/samples/deployments/app-service/presidio-services.json
  presidio-analyzer/deploytoazure.json
  presidio-anonymizer/deploytoazure.json
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

template update
  docs/samples/deployments/app-service/presidio-services.json
Due: pipelines/CI-presidio-dev.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
