Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

Fix imports and renaming
  presidio-anonymizer/README.MD
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/__init__.py
  presidio-anonymizer/presidio_anonymizer/anonymize_engine.py
  presidio-anonymizer/presidio_anonymizer/decrypt_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/anonymize_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/decrypt_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/recognizer_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/anonymize_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/decrypt_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/engine_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/result_item_builder.py
  presidio-anonymizer/presidio_anonymizer/operators/__init__.py
  presidio-anonymizer/presidio_anonymizer/operators/operator.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertors.py
  presidio-anonymizer/presidio_anonymizer/text_engine.py
  presidio-anonymizer/tests/integration/test_engine.py
  presidio-anonymizer/tests/test_analyzer_results.py
  presidio-anonymizer/tests/test_anonymizer_config.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_app_entities_convertor.py
  presidio-anonymizer/tests/test_recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

documentation update - docker use port 3000 (#615)
  docs/analyzer/index.md
  docs/anonymizer/index.md
  docs/image-redactor/index.md
Due: pipelines/CI-presidio-dev.yaml

added e2e package test (#618)
  .pipelines/templates/e2e-tests.yml
  e2e-tests/pytest.ini
  e2e-tests/requirements.txt
  e2e-tests/tests/test_e2e_integration_flows.py
  presidio-analyzer/presidio_analyzer/recognizer_result.py
  presidio-analyzer/setup.py
  presidio-anonymizer/presidio_anonymizer/entities/recognizer_result.py
  presidio-anonymizer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

PR comments
  .pre-commit-config.yaml
  docs/samples/deployments/index.md
  docs/samples/deployments/spark/index.md
  docs/samples/deployments/spark/presidio_anonymize_blobs.ipynb
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

index
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

Start working on linting.
  presidio-anonymizer/presidio_anonymizer/decrypt_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/anonymize_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/encrypt_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/anonymize_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/decrypt_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/engine_result_item.py
  presidio-anonymizer/presidio_anonymizer/operators/decrypt.py
  presidio-anonymizer/presidio_anonymizer/operators/operator.py
  presidio-anonymizer/presidio_anonymizer/text_engine.py
  presidio-anonymizer/tests/anonymizers/test_anonymizer.py
  presidio-anonymizer/tests/integration/test_engine.py
  presidio-anonymizer/tests/test_anonymizer_config.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Start working on linting.
  presidio-anonymizer/presidio_anonymizer/entities/engine/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/decrypt_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/encrypt_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/operator_metadata.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/anonymize_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/decrypt_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/engine_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/result_item_builder.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/text_metadata.py
  presidio-anonymizer/presidio_anonymizer/operators/operators_factory.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertors.py
  presidio-anonymizer/presidio_anonymizer/text_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

initial commit
  docs/samples/deployments/data-factory/azure-deploy.json
  docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/index.md
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

add tests
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/anonymize_result_item.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
  presidio-anonymizer/tests/integration/test_decrypt_engine.py
  presidio-anonymizer/tests/operators/__init__.py
  presidio-anonymizer/tests/operators/test_anonymizer.py
  presidio-anonymizer/tests/operators/test_encrypt.py
  presidio-anonymizer/tests/operators/test_hash.py
  presidio-anonymizer/tests/operators/test_mask.py
  presidio-anonymizer/tests/operators/test_redact.py
  presidio-anonymizer/tests/operators/test_replace.py
  presidio-anonymizer/tests/test_anonymizer_result_item.py
  presidio-anonymizer/tests/test_decrypt_result_item.py
  presidio-anonymizer/tests/test_engine_result.py
  presidio-anonymizer/tests/test_text_interpolator.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add tests
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/result_item_builder.py
  presidio-anonymizer/tests/test_decrypt_result_item.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add tests
  presidio-anonymizer/presidio_anonymizer/anonymize_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/anonymize_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/decrypt_config.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/encrypt_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/operator_metadata.py
  presidio-anonymizer/presidio_anonymizer/operators/operator.py
  presidio-anonymizer/tests/test_anonymize_config.py
  presidio-anonymizer/tests/test_anonymizer_config.py
  presidio-anonymizer/tests/test_decrypt_config.py
  presidio-anonymizer/tests/test_result_item_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add tests
  presidio-anonymizer/presidio_anonymizer/entities/engine/encrypt_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/text_metadata.py
  presidio-anonymizer/presidio_anonymizer/operators/operators_factory.py
  presidio-anonymizer/tests/operators/test_anonymizer.py
  presidio-anonymizer/tests/operators/test_decrypt.py
  presidio-anonymizer/tests/operators/test_operators_factory.py
  presidio-anonymizer/tests/test_encrypt_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove unneeded formating.
  presidio-anonymizer/presidio_anonymizer/entities/engine/text_metadata.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

PR comments
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
Due: pipelines/CI-presidio-dev.yaml

fix linting
  presidio-anonymizer/tests/test_anonymize_config.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

try to understand why it fails in pipe
  presidio-anonymizer/tests/test_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix equal check for recognizer result
  presidio-anonymizer/presidio_anonymizer/entities/engine/recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

revert change for test investigation
  presidio-anonymizer/tests/test_anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

doc
  docs/samples/deployments/spark/index.md
Due: pipelines/CI-presidio-dev.yaml

fix imports and add test
  e2e-tests/tests/test_anonymizer.py
  e2e-tests/tests/test_e2e_integration_flows.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertors.py
  presidio-anonymizer/tests/test_app_entities_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix dictionary
  presidio-anonymizer/presidio_anonymizer/anonymize_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add test for dictionary fix
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix example
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertors.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix E2E entities
  e2e-tests/tests/test_e2e_integration_flows.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

data factory sample
  docs/samples/deployments/data-factory/azure-deploy.json
  docs/samples/deployments/data-factory/index.md
Due: pipelines/CI-presidio-dev.yaml

Sample - Spark on Azure Databricks (#617)
  .pre-commit-config.yaml
  docs/samples/deployments/index.md
  docs/samples/deployments/spark/index.md
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
  docs/samples/deployments/spark/startup.sh
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix and add documentation for decrypt functionality.
  docs/anonymizer/adding_anonymizers.md
  docs/anonymizer/adding_operators.md
  docs/anonymizer/index.md
  docs/api-docs/api-docs.yml
  docs/index.md
  docs/text_anonymization.md
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix PR comments
  e2e-tests/tests/test_e2e_integration_flows.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/anonymize_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/decrypt_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/engine_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/engine_result_item.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/result_item_builder.py
  presidio-anonymizer/tests/integration/test_decrypt_engine.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_anonymizer_result_item.py
  presidio-anonymizer/tests/test_decrypt_result_item.py
  presidio-anonymizer/tests/test_engine_result.py
  presidio-anonymizer/tests/test_result_item_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/data-factory/index.md
Due: pipelines/CI-presidio-dev.yaml

Added image-redactor 3rd party OSS to NOTICE
  NOTICE
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

spacy 3.0.5
  .pipelines/templates/build-analyzer.yml
  .pipelines/templates/build-image-redactor.yml
  docs/analyzer/index.md
  docs/analyzer/languages.md
  docs/development.md
  docs/getting_started.md
  docs/image-redactor/index.md
  docs/installation.md
  docs/samples/python/customizing_presidio_analyzer.ipynb
  e2e-tests/README.md
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/conf/default.yaml
  presidio-analyzer/conf/spacy_multilingual.yaml
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_engine_provider.py
  presidio-analyzer/presidio_analyzer/nlp_engine/spacy_nlp_engine.py
  presidio-analyzer/setup.py
  presidio-analyzer/tests/conf/default.yaml
  presidio-analyzer/tests/conftest.py
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/README.MD
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

app service pipeline
  docs/samples/deployments/data-factory/azure-deploy-adf-app-service.json
  docs/samples/deployments/data-factory/azure-deploy-adf-databricks.json
  docs/samples/deployments/data-factory/index.md
  presidio-anonymizer/deploytoazure.json
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

docs
  docs/samples/deployments/data-factory/index.md
Due: pipelines/CI-presidio-dev.yaml

fixes
  docs/samples/deployments/data-factory/azure-deploy-adf-app-service.json
  docs/samples/deployments/data-factory/azure-deploy-adf-databricks.json
  docs/samples/deployments/data-factory/index.md
Due: pipelines/CI-presidio-dev.yaml

Fix PR comments
  presidio-anonymizer/presidio_anonymizer/operators/decrypt.py
  presidio-anonymizer/presidio_anonymizer/operators/encrypt.py
  presidio-anonymizer/presidio_anonymizer/operators/hash.py
  presidio-anonymizer/presidio_anonymizer/operators/mask.py
  presidio-anonymizer/presidio_anonymizer/operators/redact.py
  presidio-anonymizer/presidio_anonymizer/operators/replace.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix PR comments
  presidio-anonymizer/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
