Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

Update transformers.md
  docs/analyzer/nlp_engines/transformers.md
Due: pipelines/CI-presidio-dev.yaml

revert problematic spaCy test
  presidio-analyzer/tests/test_spacy_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

compare recognizers to results using a unique key instead of name (for context matching)
  e2e-tests/common/assertions.py
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/entity_recognizer.py
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/transformers_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_result.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_spacy_recognizer.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated image-redactor Pipfile.lock
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fixed e2e tests
  e2e-tests/common/assertions.py
  e2e-tests/tests/test_analyzer.py
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

GH action to collect Github repo stats and persist into a branch (#936)
  .github/github-repo-stats.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

added another test
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix for misalignment between transfrormers and spacy
  presidio-analyzer/presidio_analyzer/nlp_engine/transformers_nlp_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove constraint on empty texts for the anonymizer
  e2e-tests/tests/test_anonymizer.py
  presidio-anonymizer/presidio_anonymizer/core/text_replace_builder.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_text_replace_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update model name
  presidio-cli/README.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fixed failing tests
  e2e-tests/tests/test_anonymizer.py
  presidio-anonymizer/app.py
  presidio-anonymizer/tests/integration/test_deanonymize_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix tests failing on Windows
  presidio-cli/presidio_cli/cli.py
  presidio-cli/presidio_cli/config.py
  presidio-cli/tests/test_cli.py
  presidio-cli/tests/test_config.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update docs to contain the new transformers based NLP engine (#933)
  docs/analyzer/customizing_nlp_models.md
  docs/analyzer/languages.md
  docs/analyzer/nlp_engines/spacy_stanza.md
  docs/analyzer/nlp_engines/transformers.md
Due: pipelines/CI-presidio-dev.yaml

Compare recognizers to results using a unique key instead of name (#940)
  e2e-tests/common/assertions.py
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/lemma_context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/entity_recognizer.py
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/transformers_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_result.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_spacy_recognizer.py
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix for misalignment between transfrormers and spacy (#941)
  presidio-analyzer/presidio_analyzer/nlp_engine/transformers_nlp_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update for Windows
  presidio-cli/presidio_cli/cli.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove constraint on empty texts for the anonymizer (#942)
  e2e-tests/tests/test_anonymizer.py
  presidio-anonymizer/app.py
  presidio-anonymizer/presidio_anonymizer/core/text_replace_builder.py
  presidio-anonymizer/tests/integration/test_anonymize_engine.py
  presidio-anonymizer/tests/integration/test_deanonymize_engine.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_text_replace_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

version 2.2.30
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update CHANGELOG.md
  CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

version 2.2.30 (#943)
  CHANGELOG.md
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

reverted tests update
  e2e-tests/tests/test_analyzer.py
  e2e-tests/tests/test_e2e_integration_flows.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update presidio-cli/setup.py
  presidio-cli/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove copyright details
  presidio-cli/presidio_cli/__init__.py
  presidio-cli/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Lint
  presidio-cli/presidio_cli/cli.py
  presidio-cli/tests/test_cli.py
  presidio-cli/tests/test_config.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated Pipfile.lock
  presidio-cli/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Integrate Presidio CLI (#918)
  .pipelines/templates/build-cli.yml
  .pipelines/templates/lint-build-test.yml
  .pipelines/templates/release.yml
  .pipelines/templates/test-docs.yml
  presidio-cli/.presidiocli
  presidio-cli/Pipfile
  presidio-cli/Pipfile.lock
  presidio-cli/README.md
  presidio-cli/presidio_cli/__init__.py
  presidio-cli/presidio_cli/__main__.py
  presidio-cli/presidio_cli/analyzer.py
  presidio-cli/presidio_cli/cli.py
  presidio-cli/presidio_cli/conf/default.yaml
  presidio-cli/presidio_cli/conf/limited.yaml
  presidio-cli/presidio_cli/config.py
  presidio-cli/setup.cfg
  presidio-cli/setup.py
  presidio-cli/tests/__init__.py
  presidio-cli/tests/conftest.py
  presidio-cli/tests/test_analyzer.py
  presidio-cli/tests/test_cli.py
  presidio-cli/tests/test_config.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add missing comma
  docs/samples/python/presidio_notebook.ipynb
Due: pipelines/CI-presidio-dev.yaml

Add missing comma (#946)
  docs/samples/python/presidio_notebook.ipynb
Due: pipelines/CI-presidio-dev.yaml

Added information on CLA into CONTRIBUING.md
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Allowing ImagePiiVerifyEngine class to take in custom analyzer engine
  CHANGELOG.md
  presidio-image-redactor/presidio_image_redactor/image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Reverting format of CHANGELOG.md and adding link at bottom to new section
  CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Addressing linting errors that were failing checks on Image Redactor
  presidio-image-redactor/presidio_image_redactor/image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update presidio-image-redactor/presidio_image_redactor/image_pii_verify_engine.py
  presidio-image-redactor/presidio_image_redactor/image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding import of Optional type hint to work with the latest accept suggested commit
  presidio-image-redactor/presidio_image_redactor/image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update to ImagePiiVerifyEngine class (#952)
  CHANGELOG.md
  presidio-image-redactor/presidio_image_redactor/image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update README.MD
  README.MD
Due: pipelines/CI-presidio-dev.yaml

changed anonymization to de-identification
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
