Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

Update 06_context.md
  docs/tutorial/06_context.md
Due: pipelines/CI-presidio-dev.yaml

Additional notes on enhanced features
  docs/image-redactor/index.md
Due: pipelines/CI-presidio-dev.yaml

Update 06_context.md (#1189)
  docs/tutorial/06_context.md
Due: pipelines/CI-presidio-dev.yaml

Improving the documentation
  docs/image-redactor/index.md
  presidio-image-redactor/presidio_image_redactor/document_intelligence_ocr.py
  presidio-image-redactor/tests/integration/test_dicom_image_redactor_engine_integration.py
  presidio-image-redactor/tests/test_document_intelligence_ocr.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update NOTICE
  NOTICE
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

added stanza to NOTICE
  NOTICE
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fixed comment indentation
  presidio-analyzer/conf/transformers.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

removed unnecessary quotes
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_artifacts.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

revert removing quotes, cannot type directly due to circular import
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_artifacts.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Msft document intelligence ocr (#1184)
  CHANGELOG.md
  NOTICE
  docs/image-redactor/index.md
  presidio-image-redactor/Pipfile
  presidio-image-redactor/presidio_image_redactor/__init__.py
  presidio-image-redactor/presidio_image_redactor/document_intelligence_ocr.py
  presidio-image-redactor/tests/conftest.py
  presidio-image-redactor/tests/engine_test_utils.py
  presidio-image-redactor/tests/integration/methods.py
  presidio-image-redactor/tests/integration/test_dicom_image_pii_verify_engine_integration.py
  presidio-image-redactor/tests/integration/test_dicom_image_redactor_engine_integration.py
  presidio-image-redactor/tests/integration/test_image_processing_engine.py
  presidio-image-redactor/tests/integration/test_image_redactor_engine.py
  presidio-image-redactor/tests/test_document_intelligence_ocr.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

removing stanza as default dependency for Pipfile
  presidio-analyzer/Pipfile
  presidio-analyzer/tests/test_stanza_recognizer.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Create spelling.yml
  .github/spelling.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Delete .github/spelling.yml
  .github/spelling.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updates to docs
  docs/samples/index.md
  docs/samples/python/Anonymizing known values.ipynb
  docs/samples/python/batch_processing.ipynb
  docs/samples/python/customizing_presidio_analyzer.ipynb
  docs/samples/python/encrypt_decrypt.ipynb
  docs/samples/python/example_dicom_image_redactor.ipynb
  docs/samples/python/index.md
  docs/samples/python/presidio_notebook.ipynb
  mkdocs.yml
  presidio-analyzer/presidio_analyzer/batch_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

removed "attachments"
  docs/samples/python/batch_processing.ipynb
Due: pipelines/CI-presidio-dev.yaml

Update batch_processing.ipynb
  docs/samples/python/batch_processing.ipynb
Due: pipelines/CI-presidio-dev.yaml

fixed markdown in notebook
  docs/samples/python/customizing_presidio_analyzer.ipynb
Due: pipelines/CI-presidio-dev.yaml

added line between pip and spacy
  docs/samples/python/encrypt_decrypt.ipynb
Due: pipelines/CI-presidio-dev.yaml

revert notebook change
  docs/samples/python/example_dicom_image_redactor.ipynb
Due: pipelines/CI-presidio-dev.yaml

added a line between pip and spacy
  docs/samples/python/presidio_notebook.ipynb
Due: pipelines/CI-presidio-dev.yaml

revert docstring change
  presidio-analyzer/presidio_analyzer/batch_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Merge branch 'main' into omri/new_transformers_engine_docs
  Pipfile
  docs/analyzer/index.md
  mkdocs.yml
  presidio-analyzer/presidio_analyzer/analysis_explanation.py
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/__init__.py
  presidio-analyzer/tests/test_pattern_recognizer.py
  presidio-analyzer/tests/test_recognizer_registry.py
  presidio-analyzer/tests/test_stanza_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove pipfile
  Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove mkdocs
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

removed the "recognizer_registry" folder as it only contains one file.
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Revert index.md
  docs/analyzer/index.md
Due: pipelines/CI-presidio-dev.yaml

linting fix
  presidio-analyzer/presidio_analyzer/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

New NlpEngine - docs (#1177)
  docs/analyzer/customizing_nlp_models.md
  docs/analyzer/developing_recognizers.md
  docs/analyzer/index.md
  docs/analyzer/languages.md
  docs/analyzer/nlp_engines/spacy_stanza.md
  docs/analyzer/nlp_engines/transformers.md
  docs/anonymizer/index.md
  docs/api/analyzer_python.md
  docs/api/anonymizer_python.md
  docs/api/image_redactor_python.md
  docs/faq.md
  docs/getting_started.md
  docs/index.md
  docs/installation.md
  docs/samples/index.md
  docs/samples/python/Anonymizing known values.ipynb
  docs/samples/python/batch_processing.ipynb
  docs/samples/python/customizing_presidio_analyzer.ipynb
  docs/samples/python/encrypt_decrypt.ipynb
  docs/samples/python/image_redaction_allow_list_approach.ipynb
  docs/samples/python/index.md
  docs/samples/python/presidio_notebook.ipynb
  docs/samples/python/transformers_recognizer/index.md
  docs/text_anonymization.md
  docs/tutorial/04_external_services.md
  docs/tutorial/05_languages.md
  docs/tutorial/index.md
  mkdocs.yml
  presidio-analyzer/tests/test_stanza_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

removed unnecessary flags hack in date recognizer
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

removed unused imports
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

added docs to regex flags
  docs/analyzer/adding_recognizers.md
Due: pipelines/CI-presidio-dev.yaml

Add Dockerfile for Windows containers
  presidio-analyzer/Dockerfile.windows
  presidio-anonymizer/Dockerfile.windows
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Enable regex flags manipulation (#1193)
  docs/analyzer/adding_recognizers.md
  presidio-analyzer/presidio_analyzer/analysis_explanation.py
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/__init__.py
  presidio-analyzer/setup.py
  presidio-analyzer/tests/test_pattern_recognizer.py
  presidio-analyzer/tests/test_recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

presidio-structured
  CHANGELOG.md
  presidio-structured/README.md
  presidio-structured/__init__.py
  presidio-structured/presidio_structured/__init__.py
  presidio-structured/presidio_structured/analysis_builder.py
  presidio-structured/presidio_structured/config/__init__.py
  presidio-structured/presidio_structured/config/structured_analysis.py
  presidio-structured/presidio_structured/data/__init__.py
  presidio-structured/presidio_structured/data/data_reader.py
  presidio-structured/presidio_structured/data/data_transformers.py
  presidio-structured/presidio_structured/tabular_engine.py
  presidio-structured/sample/example.ipynb
  presidio-structured/sample/sample_data/test_complex_json.json
  presidio-structured/sample/sample_data/test_csv.csv
  presidio-structured/sample/sample_data/test_json.json
  presidio-structured/tests/__init__.py
  presidio-structured/tests/test_tabular_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Improved the logic of _remove_conflicts_and_get_text_manipulation_data method in AnonymizerEngine
  presidio-anonymizer/presidio_anonymizer/anonymizer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update CHANGELOG
  CHANGELOG.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
