Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

Adding examples of toggling metadata usage and saving bboxes
  docs/image-redactor/index.md
  docs/samples/python/example_dicom_image_redactor.ipynb
  presidio-image-redactor/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding examples of toggling metadata usage and saving bboxes (#1158)
  docs/image-redactor/index.md
  docs/samples/python/example_dicom_image_redactor.ipynb
  presidio-image-redactor/README.MD
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

integrating spacy-huggingface-pipeliens and refactoring NlpEngine logic
  docs/analyzer/customizing_nlp_models.md
  presidio-analyzer/Pipfile
  presidio-analyzer/conf/default.yaml
  presidio-analyzer/conf/spacy.yaml
  presidio-analyzer/conf/spacy_multilingual.yaml
  presidio-analyzer/conf/stanza.yaml
  presidio-analyzer/conf/stanza_multilingual.yaml
  presidio-analyzer/conf/transformers.yaml
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/nlp_engine/__init__.py
  presidio-analyzer/presidio_analyzer/nlp_engine/ner_model_configuration.py
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_artifacts.py
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_engine.py
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_engine_provider.py
  presidio-analyzer/presidio_analyzer/nlp_engine/spacy_nlp_engine.py
  presidio-analyzer/presidio_analyzer/nlp_engine/stanza_nlp_engine.py
  presidio-analyzer/presidio_analyzer/nlp_engine/transformers_nlp_engine.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/transformers_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/setup.cfg
  presidio-analyzer/setup.py
  presidio-analyzer/tests/conf/default.yaml
  presidio-analyzer/tests/conftest.py
  presidio-analyzer/tests/mocks/nlp_engine_mock.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_context_support.py
  presidio-analyzer/tests/test_nlp_engine_provider.py
  presidio-analyzer/tests/test_spacy_recognizer.py
  presidio-analyzer/tests/test_stanza_recognizer.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update languages-config.yml
  docs/analyzer/languages-config.yml
Due: pipelines/CI-presidio-dev.yaml

Update customizing_nlp_models.md
  docs/analyzer/customizing_nlp_models.md
Due: pipelines/CI-presidio-dev.yaml

Update default.yaml
  presidio-analyzer/conf/default.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update spacy_multilingual.yaml
  presidio-analyzer/conf/spacy_multilingual.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update stanza.yaml
  presidio-analyzer/conf/stanza.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update stanza_multilingual.yaml
  presidio-analyzer/conf/stanza_multilingual.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

default_score from config + more logging
  presidio-analyzer/presidio_analyzer/nlp_engine/ner_model_configuration.py
  presidio-analyzer/presidio_analyzer/nlp_engine/spacy_nlp_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

flake8 updates
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/context_aware_enhancer.py
  presidio-analyzer/presidio_analyzer/nlp_engine/ner_model_configuration.py
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_artifacts.py
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_engine.py
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_engine_provider.py
  presidio-analyzer/presidio_analyzer/nlp_engine/spacy_nlp_engine.py
  presidio-analyzer/presidio_analyzer/nlp_engine/stanza_nlp_engine.py
  presidio-analyzer/presidio_analyzer/nlp_engine/transformers_nlp_engine.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/transformers_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/setup.cfg
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

added en_core_web_sm for transformers pipelines
  .pipelines/templates/build-analyzer.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

removed type_checking option
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_artifacts.py
  presidio-analyzer/presidio_analyzer/nlp_engine/spacy_nlp_engine.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add transformers_recognizer test
  presidio-analyzer/tests/test_transformers_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

formatting
  presidio-analyzer/tests/test_transformers_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated docstring
  presidio-analyzer/presidio_analyzer/nlp_engine/spacy_nlp_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

revert formatting
  presidio-analyzer/presidio_analyzer/context_aware_enhancers/context_aware_enhancer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

ignore type checking errors (TC001 TC002 TC003)
  presidio-analyzer/presidio_analyzer/nlp_engine/nlp_engine.py
  presidio-analyzer/presidio_analyzer/nlp_engine/stanza_nlp_engine.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/setup.cfg
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

small updates to docs
  docs/getting_started.md
  docs/installation.md
Due: pipelines/CI-presidio-dev.yaml

update to mkdocs to support tabs in v8
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

added trasnformers extra
  docs/getting_started.md
Due: pipelines/CI-presidio-dev.yaml

fixed extras
  docs/getting_started.md
Due: pipelines/CI-presidio-dev.yaml

updated extras
  docs/installation.md
Due: pipelines/CI-presidio-dev.yaml

Update getting_started.md
  docs/getting_started.md
Due: pipelines/CI-presidio-dev.yaml

added comment on lazy downloading
  docs/getting_started.md
Due: pipelines/CI-presidio-dev.yaml

Enabling use of ad-hoc recognizers in verifier
  presidio-image-redactor/presidio_image_redactor/dicom_image_pii_verify_engine.py
  presidio-image-redactor/tests/test_dicom_image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding support to standard image verification engine as well
  presidio-image-redactor/presidio_image_redactor/image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding method decorators
  presidio-image-redactor/presidio_image_redactor/bbox.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Updating remove_bbox_padding and test
  presidio-image-redactor/presidio_image_redactor/bbox.py
  presidio-image-redactor/tests/test_bbox.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting fix
  presidio-image-redactor/presidio_image_redactor/dicom_image_pii_verify_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding methods to enable plotting of custom bboxes
  presidio-image-redactor/presidio_image_redactor/image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting fix
  presidio-image-redactor/presidio_image_redactor/bbox.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding test for get_pii_bboxes
  presidio-image-redactor/presidio_image_redactor/image_analyzer_engine.py
  presidio-image-redactor/tests/test_image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting fixes and addition of test for add_custom_bboxes
  presidio-image-redactor/presidio_image_redactor/image_analyzer_engine.py
  presidio-image-redactor/tests/test_image_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
