Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt

explanation with region
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added discussion board to getting started
  docs/getting_started.md
Due: pipelines/CI-presidio-dev.yaml

Phone Number Recognizer - Multi-Regional And set as Default (#775)
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/phone_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/us_phone_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/tests/mocks/recognizer_registry_mock.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_context_support.py
  presidio-analyzer/tests/test_phone_recognizer.py
  presidio-analyzer/tests/test_us_phone_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION-IMAGE-REDACTOR
  VERSION-IMAGE-REDACTOR
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update VERSION to 2.2.22 (#778)
  VERSION
  VERSION-IMAGE-REDACTOR
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added imports to spark sample
  docs/samples/deployments/spark/index.md
Due: pipelines/CI-presidio-dev.yaml

Update index.md
  docs/samples/deployments/spark/index.md
Due: pipelines/CI-presidio-dev.yaml

Relaxing regex dependency requirement
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Relaxing regex dependency requirement (#781)
  presidio-analyzer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add files via upload
  google29a451e4afddd6a5.html
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix typo
  presidio-analyzer/presidio_analyzer/recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update azure-pipelines.yml
  azure-pipelines.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update azure-pipelines-ci.yml
  azure-pipelines-ci.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update lint-build-test.yml
  .pipelines/templates/lint-build-test.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update release.yml
  .pipelines/templates/release.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update deploy-stage.yml
  .pipelines/templates/deploy-stage.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fixed failing test
  Pipfile
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Delete Pipfile
  Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update agents VM to ubuntu-latest (#783)
  .pipelines/templates/deploy-stage.yml
  .pipelines/templates/lint-build-test.yml
  .pipelines/templates/release.yml
  azure-pipelines-ci.yml
  azure-pipelines.yml
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix typo (#782)
  presidio-analyzer/presidio_analyzer/recognizer_result.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Create faq
  docs/faq
Due: pipelines/CI-presidio-dev.yaml

Rename faq to faq.md
  docs/faq.md
Due: pipelines/CI-presidio-dev.yaml

added FAQ to readme
  README.MD
Due: pipelines/CI-presidio-dev.yaml

added FAQ
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

updated mkdocs to contain FAQ and simplify
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updates to faq
  .gitignore
  docs/faq.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated dependencies
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-anonymizer/Pipfile
  presidio-anonymizer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updates to deps
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
  presidio-analyzer/tests/test_spacy_recognizer.py
  presidio-anonymizer/Pipfile.lock
  presidio-anonymizer/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

changed deps version to greater than
  presidio-analyzer/setup.py
  presidio-anonymizer/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

indent issue with faq
  docs/faq.md
  e2e-tests/README.md
  e2e-tests/common/__init__.py
  e2e-tests/common/assertions.py
  e2e-tests/common/constants.py
  e2e-tests/common/methods.py
  e2e-tests/pytest.ini
  e2e-tests/requirements.txt
  e2e-tests/resources/demo.txt
  e2e-tests/resources/demo_anonymized.txt
  e2e-tests/resources/original_image.png
  e2e-tests/resources/purple_redact.png
  e2e-tests/tests/__init__.py
  e2e-tests/tests/test_analyzer.py
  e2e-tests/tests/test_anonymizer.py
  e2e-tests/tests/test_e2e_integration_flows.py
  e2e-tests/tests/test_image_redactor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml
