Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

Analyzer deps bump (#794)
  .pipelines/templates/build-image-redactor.yml
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
  presidio-analyzer/tests/test_spacy_recognizer.py
  presidio-anonymizer/Pipfile
  presidio-anonymizer/Pipfile.lock
  presidio-anonymizer/setup.py
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/tests/integration/test_image_analyzer_engine_integration.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add Encryption and Decryption sample (#791)
  docs/samples/index.md
  docs/samples/python/encrypt_decrypt.ipynb
Due: pipelines/CI-presidio-dev.yaml

documentation changes + align rest api
  docs/anonymizer/index.md
  docs/api-docs/api-docs.yml
  docs/samples/python/encrypt_decrypt.ipynb
  presidio-anonymizer/README.MD
  presidio-anonymizer/presidio_anonymizer/deanonymize_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/operator_result.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertor.py
  presidio-anonymizer/tests/test_app_entities_convertor.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

operator_name
  e2e-tests/tests/test_e2e_integration_flows.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove AnonymizerResult in favor of OperatorResult (#795)
  docs/anonymizer/index.md
  docs/api-docs/api-docs.yml
  docs/samples/python/encrypt_decrypt.ipynb
  e2e-tests/tests/test_e2e_integration_flows.py
  presidio-anonymizer/README.MD
  presidio-anonymizer/presidio_anonymizer/core/engine_base.py
  presidio-anonymizer/presidio_anonymizer/deanonymize_engine.py
  presidio-anonymizer/presidio_anonymizer/entities/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/__init__.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/anonymizer_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/pii_entity.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/engine_result.py
  presidio-anonymizer/presidio_anonymizer/entities/engine/result/operator_result.py
  presidio-anonymizer/presidio_anonymizer/services/app_entities_convertor.py
  presidio-anonymizer/tests/integration/test_deanonymize_engine.py
  presidio-anonymizer/tests/test_anonymizer_engine.py
  presidio-anonymizer/tests/test_anonymizer_result.py
  presidio-anonymizer/tests/test_app_entities_convertor.py
  presidio-anonymizer/tests/test_engine_result.py
  presidio-anonymizer/tests/test_operator_result.py
  presidio-anonymizer/tests/test_readme.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Release Version 2.2.23
  CHANGELOG.md
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Release Version 2.2.23 (#796)
  CHANGELOG.md
  VERSION
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Bump analyzer in image redactor
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add typing-extensions
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update faq.md
  docs/faq.md
Due: pipelines/CI-presidio-dev.yaml

Bump analyzer in image redactor (#797)
  presidio-image-redactor/Dockerfile
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix IbanRecognizer not recongnizing IBAN followed by all caps
  CHANGELOG.md
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/tests/test_iban_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update README.MD
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Update README.MD (#807)
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Create streamlit.md
  docs/samples/deployments/streamlit.md
Due: pipelines/CI-presidio-dev.yaml

streamlit sample
  docs/samples/deployments/streamlit/presidio_streamlit.py
  docs/samples/deployments/streamlit/streamlit.md
Due: pipelines/CI-presidio-dev.yaml

Update streamlit.md
  docs/samples/deployments/streamlit/streamlit.md
Due: pipelines/CI-presidio-dev.yaml

Update index.md
  docs/samples/deployments/index.md
Due: pipelines/CI-presidio-dev.yaml

Rename streamlit.md to index.md
  docs/samples/deployments/streamlit/index.md
Due: pipelines/CI-presidio-dev.yaml

Update index.md
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

Update index.md
  docs/samples/deployments/streamlit/index.md
Due: pipelines/CI-presidio-dev.yaml

Create Presidio_with_Flair_as_a_3rd_party_recognizer
  docs/samples/python/Presidio_with_Flair_as_a_3rd_party_recognizer
Due: pipelines/CI-presidio-dev.yaml

moved sample to python and refactored code
  docs/samples/deployments/index.md
  docs/samples/index.md
  docs/samples/python/index.md
  docs/samples/python/streamlit/index.md
  docs/samples/python/streamlit/presidio_streamlit.py
Due: pipelines/CI-presidio-dev.yaml

Documentation for creating a Streamlit demo app (#809)
  docs/samples/index.md
  docs/samples/python/index.md
  docs/samples/python/streamlit/index.md
  docs/samples/python/streamlit/presidio_streamlit.py
Due: pipelines/CI-presidio-dev.yaml

Update Presidio_with_Flair_as_a_3rd_party_recognizer
  docs/samples/python/Presidio_with_Flair_as_a_3rd_party_recognizer
Due: pipelines/CI-presidio-dev.yaml

Rename Presidio_with_Flair_as_a_3rd_party_recognizer to Presidio_with_Flair_as_a_3rd_party_recognizer.py
  docs/samples/python/Presidio_with_Flair_as_a_3rd_party_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

Update Presidio_with_Flair_as_a_3rd_party_recognizer.py
  docs/samples/python/Presidio_with_Flair_as_a_3rd_party_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

Create Presidio_with_Flair_as_a_3rd_party_recognizer (#810)
  docs/samples/python/Presidio_with_Flair_as_a_3rd_party_recognizer.py
Due: pipelines/CI-presidio-dev.yaml

re-locked image redactor to support new PIL + removed 3.6 from build (EOL)
  .pipelines/templates/lint-build-test.yml
  docs/development.md
  docs/installation.md
  presidio-analyzer/setup.py
  presidio-anonymizer/setup.py
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated pipfile.lock for analyzer
  presidio-analyzer/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

anonymizer pipfile.lock
  presidio-anonymizer/Pipfile.lock
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Bumped PIL to version 9.0.0 and replaced python 3.6 with 3.10 (#815)
  .pipelines/templates/lint-build-test.yml
  docs/development.md
  docs/installation.md
  presidio-analyzer/Pipfile.lock
  presidio-analyzer/setup.py
  presidio-anonymizer/Pipfile.lock
  presidio-anonymizer/setup.py
  presidio-image-redactor/Pipfile.lock
  presidio-image-redactor/setup.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix IbanRecognizer not recongnizing IBAN followed by all caps (#806)
  CHANGELOG.md
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/tests/test_iban_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
