Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

remove changes to template gallery
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-01.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-02.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-03.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-04.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-05.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-06.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-07.png
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery-databricks.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
Due: pipelines/CI-presidio-dev.yaml

.
  docs/samples/deployments/data-factory/index.md
Due: pipelines/CI-presidio-dev.yaml

databricks gallery template
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-01.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-02.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-03.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-04.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-05.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-06.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-07.png
  docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery-databricks.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery-http.md
  docs/samples/deployments/spark/index.md
Due: pipelines/CI-presidio-dev.yaml

ADd nuspec
  sdk/csharp/Microsoft.Presidio.sln
  sdk/csharp/src/Microsoft.Presidio/Microsoft.Presidio.csproj
  sdk/csharp/src/Microsoft.Presidio/Microsoft.Presidio.nuspec
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

path fix
  docs/samples/deployments/spark/index.md
Due: pipelines/CI-presidio-dev.yaml

minor fix
  docs/samples/deployments/spark/index.md
Due: pipelines/CI-presidio-dev.yaml

Update docs/samples/deployments/data-factory/presidio-data-factory-template-gallery-databricks.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery-databricks.md
Due: pipelines/CI-presidio-dev.yaml

minor fix
  docs/samples/deployments/data-factory/presidio-data-factory.md
Due: pipelines/CI-presidio-dev.yaml

Change name of the RecognizerResult with analyzsis and fix issue with inheritance by adding discriminator
  docs/api-docs/api-docs.yml
  presidio-analyzer/app.py
  sdk/csharp/.openapi-generator/FILES
  sdk/csharp/Microsoft.Presidio.sln
  sdk/csharp/README.md
  sdk/csharp/docs/AnalyzerApi.md
  sdk/csharp/docs/RecognizerResultWithAnaysisExplanation.md
  sdk/csharp/src/Microsoft.Presidio.Test/Api/AnalyzerApiTests.cs
  sdk/csharp/src/Microsoft.Presidio/Api/AnalyzerApi.cs
  sdk/csharp/src/Microsoft.Presidio/Microsoft.Presidio.csproj
  sdk/csharp/src/Microsoft.Presidio/Microsoft.Presidio.nuspec
  sdk/csharp/src/Microsoft.Presidio/Model/RecognizerResultWithAnalysis.cs
  sdk/csharp/src/Microsoft.Presidio/Model/RecognizerResultWithAnalysisAllOf.cs
  sdk/csharp/src/Microsoft.Presidio/Model/RecognizerResultWithAnaysisExplanation.cs
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

revert change
  presidio-analyzer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix index
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

fix config json
  sdk/csharp/Microsoft.Presidio.sln
  sdk/csharp/README.md
  sdk/csharp/config.json
  sdk/csharp/src/Microsoft.Presidio/Client/Configuration.cs
  sdk/csharp/src/Microsoft.Presidio/Microsoft.Presidio.csproj
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update index
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

PR comments
  docs/samples/deployments/spark/index.md
  docs/samples/deployments/spark/notebooks/01_transform_presidio.py
Due: pipelines/CI-presidio-dev.yaml

Add a test fir certificate_number_recognizer
  presidio-analyzer/presidio_analyzer/predefined_recognizers/certificate_number_recognizer.py
  presidio-analyzer/tests/test_certificate_number_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

remove a blank line
  presidio-analyzer/presidio_analyzer/predefined_recognizers/certificate_number_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add SDK generation script
  sdk/generate.sh
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add SDK generation script
  sdk/generate_sdk.sh
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lock version
  .pipelines/templates/test-docs.yml
  .pipelines/templates/test-md.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add contacting presidio to contrib guide
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update samples validation pipeline (#696)
  .pipelines/templates/test-docs.yml
  .pipelines/templates/test-md.py
  docs/analyzer/adding_recognizers.md
  docs/analyzer/languages.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

add contacting presidio to contrib guide (#704)
  CONTRIBUTING.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add CertificateNumberRecognizer to __int__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/certificate_number_recognizer.py
  presidio-analyzer/tests/test_certificate_number_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

set pydantic to 1.7.4
  presidio-analyzer/Pipfile
  presidio-analyzer/Pipfile.lock
  presidio-image-redactor/Pipfile
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

dict processing
  Untitled.ipynb
  presidio-analyzer/presidio_analyzer/__init__.py
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/dict_analyzer_result.py
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

lock on 3.6
  presidio-analyzer/Pipfile.lock
  presidio-image-redactor/Pipfile.lock
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add categories + lower
  presidio-analyzer/conf/text_analytics_entity_categories.yaml
  presidio-analyzer/presidio_analyzer/predefined_recognizers/text_analytics_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated call to stanza via spacy-stanza
  presidio-analyzer/presidio_analyzer/nlp_engine/stanza_nlp_engine.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/stanza_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Date recognizer
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/tests/test_date_recognizer.py
  presidio-analyzer/tests/test_recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Adding certificate number recognizer (#702)
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/certificate_number_recognizer.py
  presidio-analyzer/tests/test_certificate_number_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix linting errors
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix additional linting issues
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Date recognizer (#712)
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/date_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/tests/test_date_recognizer.py
  presidio-analyzer/tests/test_recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

updated call to stanza via spacy-stanza (#711)
  presidio-analyzer/presidio_analyzer/nlp_engine/stanza_nlp_engine.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/stanza_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update spark samples docs (#691)
  .pre-commit-config.yaml
  docs/samples/deployments/data-factory/arm-templates/azure-deploy-adf-app-service.json
  docs/samples/deployments/data-factory/arm-templates/azure-deploy-adf-databricks.json
  docs/samples/deployments/data-factory/arm-templates/azure-deploy-adf-template-gallery-http.json
  docs/samples/deployments/data-factory/images/adf-app-service-screenshot.png
  docs/samples/deployments/data-factory/images/adf-databricks-screenshot.png
  docs/samples/deployments/data-factory/images/data-anonymization-http-01.png
  docs/samples/deployments/data-factory/images/data-anonymization-http-02.png
  docs/samples/deployments/data-factory/images/data-anonymization-http-03.png
  docs/samples/deployments/data-factory/images/data-anonymization-http-04.png
  docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery.md
  docs/samples/deployments/data-factory/presidio-data-factory.md
  docs/samples/deployments/spark/arm-template/databricks.json
  docs/samples/deployments/spark/arm-template/databricks.parameters.json
  docs/samples/deployments/spark/config/cluster.config.json
  docs/samples/deployments/spark/config/run.setup.config.json
  docs/samples/deployments/spark/index.md
  docs/samples/deployments/spark/notebooks/00_setup.py
  docs/samples/deployments/spark/notebooks/01_transform_presidio.py
  docs/samples/deployments/spark/presidio_anonymize_blobs.py
  docs/samples/deployments/spark/scripts/configure_databricks.sh
  docs/samples/deployments/spark/setup/startup.sh
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Data Anonymization with Presidio on Databricks ADF template (#703)
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-01.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-02.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-03.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-04.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-05.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-06.png
  docs/samples/deployments/data-factory/images/data-anonymization-databricks-07.png
  docs/samples/deployments/data-factory/index.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery-databricks.md
  docs/samples/deployments/data-factory/presidio-data-factory-template-gallery-http.md
  docs/samples/deployments/data-factory/presidio-data-factory.md
  docs/samples/deployments/spark/index.md
  docs/samples/index.md
Due: pipelines/CI-presidio-dev.yaml

revert pipfile, update piplock only
  presidio-analyzer/Pipfile
  presidio-image-redactor/Pipfile
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add ORGANIZATION spacy entity
  docs/api-docs/api-docs.yml
  docs/supported_entities.md
  e2e-tests/tests/test_analyzer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add UT
  presidio-analyzer/tests/test_spacy_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
