Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

j
  .env
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

koi
  docker-compose.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

r
  .github/workflows/codeql-analysis.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

bug fix in SpacyRecognizer
  presidio-analyzer/presidio_analyzer/analyzer_engine.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_recognizer_registry.py
  presidio-analyzer/tests/test_spacy_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

README
  presidio-structured/README.md
  presidio-structured/__init__.py
  presidio-structured/presidio_structured/__init__.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add TabularAnalysisBuilder
  docs/samples/python/example_structured.ipynb
  presidio-structured/README.md
  presidio-structured/presidio_structured/__init__.py
  presidio-structured/presidio_structured/analysis_builder.py
  presidio-structured/presidio_structured/data/data_processors.py
  presidio-structured/tests/conftest.py
  presidio-structured/tests/test_analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Some basic logging
  presidio-structured/presidio_structured/analysis_builder.py
  presidio-structured/presidio_structured/data/data_processors.py
  presidio-structured/presidio_structured/structured_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

linting
  presidio-structured/presidio_structured/analysis_builder.py
  presidio-structured/presidio_structured/data/data_processors.py
  presidio-structured/presidio_structured/structured_engine.py
  presidio-structured/setup.py
  presidio-structured/tests/conftest.py
  presidio-structured/tests/data/test_data_transformers.py
  presidio-structured/tests/test_analysis_builder.py
  presidio-structured/tests/test_tabular_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix typo in logger variable name
  presidio-structured/presidio_structured/structured_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Refactor analysis builder to include score threshold
  presidio-structured/presidio_structured/analysis_builder.py
  presidio-structured/tests/test_analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Linting, continued
  presidio-structured/presidio_structured/__init__.py
  presidio-structured/presidio_structured/analysis_builder.py
  presidio-structured/presidio_structured/config/__init__.py
  presidio-structured/presidio_structured/config/structured_analysis.py
  presidio-structured/presidio_structured/data/__init__.py
  presidio-structured/presidio_structured/data/data_processors.py
  presidio-structured/presidio_structured/data/data_reader.py
  presidio-structured/presidio_structured/structured_engine.py
  presidio-structured/setup.cfg
  presidio-structured/setup.py
  presidio-structured/tests/conftest.py
  presidio-structured/tests/data/test_data_transformers.py
  presidio-structured/tests/test_analysis_builder.py
  presidio-structured/tests/test_tabular_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update Pipfile
  presidio-structured/Pipfile
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Refactor JsonAnalysisBuilder to support language parameter
  presidio-structured/presidio_structured/analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix not camel case in TabularAnalysisBuilder
  presidio-structured/presidio_structured/analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add score_threshold parameter to AnalysisBuilder
  presidio-structured/presidio_structured/analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Refactor JSON analysis builder to gain consistency
  presidio-structured/presidio_structured/analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Remove low score results in JsonAnalysisBuilder
  presidio-structured/presidio_structured/analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add tests to json analysis with score threshold
  presidio-structured/tests/test_analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix bug in JSON analysis to update map with nested_mappings
  presidio-structured/presidio_structured/analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix bug in JSON analysis to take only entity types
  presidio-structured/presidio_structured/analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Fix typos in test anl json names and assert values
  presidio-structured/tests/test_analysis_builder.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update build-structured.yml
  .pipelines/templates/build-structured.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Create __init__.py
  presidio-structured/tests/__init__.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Type hint fix python <3.10, loggger typo
  presidio-structured/presidio_structured/data/data_processors.py
  presidio-structured/presidio_structured/structured_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update setup.py
  presidio-structured/setup.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Change ner_model_configuration from list to map
  docs/analyzer/languages-config.yml
Due: pipelines/CI-presidio-dev.yaml

added survey to readme
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Added survey to docs readme
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

fixes to survey text
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Update index.md
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

Added a survey link (#1224)
  README.MD
  docs/index.md
Due: pipelines/CI-presidio-dev.yaml

Deployed 6c4cb54 with MkDocs version: 1.5.3
  index.html
  search/search_index.json
  sitemap.xml.gz
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Change ner_model_configuration from list to map (#1222)
  docs/analyzer/languages-config.yml
Due: pipelines/CI-presidio-dev.yaml

updated demo
  docs/samples/python/streamlit/flair_recognizer.py
  docs/samples/python/streamlit/flair_test.py
  docs/samples/python/streamlit/openai_fake_data_generator.py
  docs/samples/python/streamlit/presidio_helpers.py
  docs/samples/python/streamlit/presidio_nlp_engine_config.py
  docs/samples/python/streamlit/presidio_streamlit.py
  docs/samples/python/streamlit/requirements.txt
  docs/samples/python/streamlit/test_streamlit.py
Due: pipelines/CI-presidio-dev.yaml

Update mkdocs.yml
  mkdocs.yml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update default.yaml
  presidio-analyzer/conf/default.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Added a new Azure AI language recognizer
  presidio-analyzer/Pipfile
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/azure_ai_language.py
  presidio-analyzer/setup.py
  presidio-analyzer/tests/test_azure_ai_language_recognizer.py
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

exception text change
  presidio-analyzer/presidio_analyzer/predefined_recognizers/azure_ai_language.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
