Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/CI-deps.yaml:
  stages:
  - stage: GolangDeps
    jobs:
    - job: BuildGolangDeps
      timeoutInMinutes: 15
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and Push Golang dependencies
        inputs:
          containerRegistry: $(REGISTRY)
  ...

pipelines/CI-presidio-dev.yaml:
  jobs:
  - job: BuildServices
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    steps:
  ...

pipelines/CI-presidio.yaml:
  stages:
  - template: templates/build-test-publish.yaml
    parameters:
      registry_service_principal: $(REGISTRY)
      registry_name: $(REGISTRY_NAME)
      internal_pypi_feed_name: $(AZURE_ARTIFACTS_FEED_NAME)
      internal_pypi_extra_index_url: $(AZURE_ARTIFACTS_PYPI_INDEX_URL)
  ...

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

.
  pipelines/templates/set-base-container-build.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

complete PR
  Dockerfile.python.deps
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-python-deps-CI.yaml

Set build environment in every job (#351)
  Dockerfile.python.deps
  Makefile
  pipelines/templates/build-test-publish.yaml
  pipelines/templates/set-base-container-build.yaml
Due: pipelines/CI-deps.yaml, pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml, pipelines/presidio-python-deps-CI.yaml

analyzer - add Spanish language recognizers and examples using multiple language support
  docs/tutorial_analyzer.md
  presidio-analyzer/conf/spacy_multilingual.yaml
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/es_nif_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/presidio_analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/tests/test_es_nif_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

analyzer - support for language parameter on analize GRPC script
  presidio-analyzer/presidio_analyzer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Improve SSN analyzer (#349)
  presidio-analyzer/presidio_analyzer/pattern_recognizer.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/us_ssn_recognizer.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_us_ssn_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix(helm): Remove duplicate resources property
  charts/presidio/values.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix: Replace sys.path.append in app.py
  presidio-analyzer/presidio_analyzer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

test for entity ORG of analyzer engine
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

atualização de configurações presidio pra ser utilizado na pipeline do picpay
  README.MD
  SECURITY.MD
  azure-pipelines.yml
  deployment/deploy-presidio.sh
  docker-compose-cloud.yml
  docker-compose.yml
  presidio-analyzer/analyzer/presidio-analyzer
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

reintroduced sys.path.append to support protobuf files
  presidio-analyzer/presidio_analyzer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix - remove ORG entity from spacy recognizer
  presidio-analyzer/presidio_analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/tests/test_analyzer_engine.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix - presidio_analyzer/app.py:157:0: C0303: Trailing whitespace
  presidio-analyzer/presidio_analyzer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix(helm): Remove duplicate resources property (#354)
  charts/presidio/values.yaml
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Add ABA routing number recognizer (#348)
  presidio-analyzer/presidio_analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/presidio_analyzer/predefined_recognizers/aba_routing_recognizer.py
  presidio-analyzer/tests/data/context_sentences_tests.txt
  presidio-analyzer/tests/test_aba_routing_recognizer.py
  presidio-analyzer/tests/test_context_support.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Analyzer sys path fix (#360)
  presidio-analyzer/presidio_analyzer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Update README.MD
  README.MD
Due: pipelines/CI-presidio-dev.yaml

Update pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

doc - more explicative titles
  docs/tutorial_analyzer.md
Due: pipelines/CI-presidio-dev.yaml

refactor - default english language for analyze handler
  presidio-analyzer/presidio_analyzer/app.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

fix - style error
  presidio-analyzer/presidio_analyzer/predefined_recognizers/es_nif_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

docs: fix typo in development instructions
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml

docs: fix typo in development instructions (#365)
  docs/development.md
Due: pipelines/CI-presidio-dev.yaml

Apply suggestions from code review
  docs/tutorial_analyzer.md
Due: pipelines/CI-presidio-dev.yaml

doc: prevent duplicate explanation and refer to the original part
  docs/tutorial_analyzer.md
Due: pipelines/CI-presidio-dev.yaml

Anonymize text and image updates
  build.sh
  docs/deploy.md
  docs/samples.md
  run.sh
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

update to samples.md
  docs/samples.md
Due: pipelines/CI-presidio-dev.yaml

Test IBAN with different separators
  presidio-analyzer/tests/test_iban_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Sanitize IBAN matches before validation
  presidio-analyzer/presidio_analyzer/predefined_recognizers/iban_recognizer.py
Due: pipelines/CI-presidio-dev.yaml, pipelines/CI-presidio.yaml

Path conditions:
  pipelines/CI-deps.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/Pipfile, presidio-analyzer/Pipfile.lock, but not: *.md
  pipelines/CI-presidio-dev.yaml: any file but: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml, Dockerfile.python.deps, presidio-analyzer/requirements.txt, !*.md
  pipelines/CI-presidio.yaml: any file but: docs, README.MD
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
