Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/presidio-golang-deps-CI.yaml:

queue:
  name: Hosted Ubuntu 1604
steps:
- task: Docker@2
  displayName: 'Build and Push'
  inputs:
    containerRegistry: $(registry)
    repository: presidio-golang-deps
    Dockerfile: Dockerfile.golang.deps
    tags: |
     $(Build.BuildId)
     latest
trigger:
  batch: true 
  branches:
    include: 
      - build-deps
  paths:
    include: 
      - /Dockerfile.golang.deps
      - /Gopkg.lock
      - /Gopkg.toml

pipelines/presidio-python-deps-CI.yaml:

trigger:
    batch: true 
    branches:
      include: 
        - build-deps
    paths:
      include: 
        - /Dockerfile.python.deps
        - /presidio-analyzer/requirements.txt
queue:
    name: Hosted Ubuntu 1604
jobs:
- job: Presidio-Build-Python-Deps
  timeoutInMinutes: 120
  steps:
  - task: Docker@2
    displayName: 'Build and Push'
    inputs:
      containerRegistry: $(registry)
      repository: presidio-python-deps
      Dockerfile: Dockerfile.python.deps
      tags: |
        $(Build.BuildId)
        latest

remove diffs
  Gopkg.lock
  Gopkg.toml
Due: pipelines/presidio-golang-deps-CI.yaml

.
  Gopkg.toml
Due: pipelines/presidio-golang-deps-CI.yaml

removed template ID
  presidio-api/cmd/presidio-api/api/analyze/analyze_test.go
Due: none

.
  Gopkg.lock
  Gopkg.toml
Due: pipelines/presidio-golang-deps-CI.yaml

fixed lint issue
  presidio-tester/cmd/presidio-tester/tester.go
Due: none

update diffs
  Gopkg.toml
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_recognizer_registry.py
Due: pipelines/presidio-golang-deps-CI.yaml

fix diffs
  Gopkg.toml
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_recognizer_registry.py
Due: pipelines/presidio-golang-deps-CI.yaml

fix diffs
  Gopkg.toml
Due: pipelines/presidio-golang-deps-CI.yaml

fix diff
  presidio-analyzer/tests/test_recognizer_registry.py
Due: none

fix diffs
  Dockerfile.python.deps
Due: pipelines/presidio-python-deps-CI.yaml

diff
  Dockerfile.python.deps
Due: pipelines/presidio-python-deps-CI.yaml

update branch to dev
  pipelines/presidio-golang-deps-CI.yaml
  pipelines/presidio-python-deps-CI.yaml
Due: none

Update docs/development.md
  docs/development.md
Due: none

update with PR comments
  Makefile
  docs/development.md
Due: none

updated the test to pickup responses from file and compare specific json fields
  presidio-tester/cmd/presidio-tester/tester.go
Due: none

job is disabled by default
  charts/presidio/templates/tester-job-deployment.yaml
  charts/presidio/values.yaml
Due: none

added more logic to the test to verify results other than http 200
  presidio-tester/cmd/presidio-tester/tester.go
Due: none

updated the e2e tests to use a single testdata folder and few refactoring as per rejects
  presidio-api/cmd/presidio-api/api/analyze/analyze_test.go
  presidio-tester/cmd/presidio-tester/testdata/analyze-custom-recognizer-template.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-template.json
  presidio-tester/cmd/presidio-tester/testdata/new-custom-pattern-recognizer.json
  presidio-tester/cmd/presidio-tester/testdata/update-custom-pattern-recognizer.json
  presidio-tester/cmd/presidio-tester/tester.go
  tests/common/common.go
  tests/functional_http_test.go
  tests/functional_recognizers_test.go
  tests/integration_anonymize_image_test.go
  tests/integration_tesseract_test.go
  tests/testdata/analyze-custom-recognizer-request.json
  tests/testdata/analyze-custom-recognizer-template.json
  tests/testdata/analyze-image-template.json
  tests/testdata/analyze-request.json
  tests/testdata/analyze-template.json
  tests/testdata/anonymize-image-template.json
  tests/testdata/anonymize-request.json
  tests/testdata/anonymize-template.json
  tests/testdata/new-custom-pattern-recognizer.json
  tests/testdata/ocr-result.json
  tests/testdata/ocr-result.png
  tests/testdata/ocr-test.png
  tests/testdata/update-custom-pattern-recognizer.json
Due: none

Add public path to makefile (#121)
  Makefile
  charts/presidio/values.yaml
Due: none

rebase from dev
  Dockerfile.python.deps
  presidio-tester/cmd/presidio-tester/testdata/analyze-response.json
  presidio-tester/cmd/presidio-tester/testdata/anonymize-response.json
Due: pipelines/presidio-python-deps-CI.yaml

updated docs and samples based on new changes in dev (#120)
  README.MD
  docs/field_types.md
  docs/tutorial_service.md
Due: none

adding "optional" notes for label numbers
  docs/development.md
Due: none

a post-upgrade e2e test (#112)
  Dockerfile.python.deps
  Makefile
  charts/presidio/templates/_helpers.tpl
  charts/presidio/templates/tester-job-deployment.yaml
  charts/presidio/values.yaml
  pkg/platform/platform.go
  presidio-api/cmd/presidio-api/api/analyze/analyze_test.go
  presidio-tester/Dockerfile
  presidio-tester/cmd/presidio-tester/testdata/analyze-custom-recognizer-request.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-custom-recognizer-template.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-image-template.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-request.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-response.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-template.json
  presidio-tester/cmd/presidio-tester/testdata/anonymize-image-template.json
  presidio-tester/cmd/presidio-tester/testdata/anonymize-request.json
  presidio-tester/cmd/presidio-tester/testdata/anonymize-response.json
  presidio-tester/cmd/presidio-tester/testdata/anonymize-template.json
  presidio-tester/cmd/presidio-tester/testdata/new-custom-pattern-recognizer.json
  presidio-tester/cmd/presidio-tester/testdata/ocr-result.json
  presidio-tester/cmd/presidio-tester/testdata/ocr-result.png
  presidio-tester/cmd/presidio-tester/testdata/ocr-test.png
  presidio-tester/cmd/presidio-tester/testdata/update-custom-pattern-recognizer.json
  presidio-tester/cmd/presidio-tester/tester.go
  tests/common/common.go
  tests/functional_http_test.go
  tests/functional_recognizers_test.go
  tests/integration_anonymize_image_test.go
  tests/integration_tesseract_test.go
Due: pipelines/presidio-python-deps-CI.yaml

new readme
  README.MD
  docs/assets/before-after.png
  docs/assets/findings.png
Due: none

Bug 906 - CONTEXT_SUFFIX_COUNT is not used and PREFIX is used instead
  presidio-analyzer/analyzer/entity_recognizer.py
Due: none

Bug 909 - Context not working with upper case / mixed case
  presidio-analyzer/analyzer/entity_recognizer.py
  presidio-analyzer/tests/data/context_sentences_tests.txt
  presidio-analyzer/tests/test_context_support.py
Due: none

Bug 908 - support context with substrings
  presidio-analyzer/analyzer/entity_recognizer.py
  presidio-analyzer/tests/data/context_sentences_tests.txt
  presidio-analyzer/tests/test_context_support.py
Due: none

Build deps - adding build number to python&golang dependency containers (#122)
  Dockerfile.golang.base
  Makefile
  docs/development.md
  docs/install.md
  pipelines/presidio-golang-deps-CI.yaml
  pipelines/presidio-python-deps-CI.yaml
  presidio-analyzer/Dockerfile
Due: none

Bug 907 - Context window size is off by 1 index
  presidio-analyzer/analyzer/entity_recognizer.py
  presidio-analyzer/tests/data/context_sentences_tests.txt
  presidio-analyzer/tests/test_context_support.py
Due: none

Fix incorrect default helm chart repository url
  charts/presidio/values.yaml
Due: none

added more tests
  tests/functional_recognizers_test.go
Due: none

changed registry to mcr
  deployment/deploy-presidio.sh
Due: none

added custom recognizer example
  README.MD
Due: none

Bug 911 fix When the persistent recognizers store is empty there should be no error log line when requesting for the hash value
  presidio-analyzer/analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/analyzer/recognizer_registry/recognizers_store_api.py
  presidio-analyzer/tests/test_recognizer_registry.py
  presidio-recognizers-store/cmd/presidio-recognizers-store/main.go
  presidio-recognizers-store/cmd/presidio-recognizers-store/recognizers_store_test.go
Due: none

fixed a tag
  tests/functional_recognizers_test.go
Due: none

replaced OCR example
  README.MD
  docs/assets/ocr-example.png
Due: none
