Repository microsoft/presidio: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/presidio-golang-deps-CI.yaml, pipelines/presidio-python-deps-CI.yaml

pipelines/presidio-golang-deps-CI.yaml:
  jobs:
  - job: BuildGolangDeps
    timeoutInMinutes: 30
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-golang-deps
        Dockerfile: Dockerfile.golang.deps
  ...

pipelines/presidio-python-deps-CI.yaml:
  jobs:
  - job: BuildPythonDeps
    timeoutInMinutes: 120
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: $(registry)
        repository: presidio-python-deps
        Dockerfile: Dockerfile.python.deps
  ...

fixed relative paths
  docs/custom_fields.md
Due: none

Create README.MD
  presidio-analyzer/README.MD
Due: none

Updated readme and documentation(#125)
  AUTHORS
  README.MD
  docs/assets/before-after.png
  docs/assets/findings.png
  docs/assets/ocr-example.png
  docs/custom_fields.md
  docs/development.md
  docs/field_types.md
  docs/index.md
  docs/install.md
  docs/overview.md
  docs/tutorial_analyzer.md
  docs/tutorial_service.md
  presidio-analyzer/README.MD
Due: none

Update README.MD
  README.MD
Due: none

Bug 911 fix (#131)
  presidio-analyzer/analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/analyzer/recognizer_registry/recognizers_store_api.py
  presidio-analyzer/tests/test_recognizer_registry.py
  presidio-recognizers-store/cmd/presidio-recognizers-store/main.go
  presidio-recognizers-store/cmd/presidio-recognizers-store/recognizers_store_test.go
Due: none

changed genproto branch to master.
  Gopkg.toml
Due: pipelines/presidio-golang-deps-CI.yaml

Updating genproto to master branch
  Gopkg.lock
Due: pipelines/presidio-golang-deps-CI.yaml

(Re)Enable context support in analyzer (#114)
  charts/presidio/templates/analyzer-deployment.yaml
  presidio-analyzer/analyzer/analyzer_engine.py
  presidio-analyzer/analyzer/entity_recognizer.py
  presidio-analyzer/analyzer/nlp_engine/__init__.py
  presidio-analyzer/analyzer/nlp_engine/nlp_artifacts.py
  presidio-analyzer/analyzer/nlp_engine/nlp_engine.py
  presidio-analyzer/analyzer/nlp_engine/spacy_nlp_engine.py
  presidio-analyzer/analyzer/pattern_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/us_phone_recognizer.py
  presidio-analyzer/analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/requirements.txt
  presidio-analyzer/setup.py
  presidio-analyzer/tests/data/context_sentences_tests.txt
  presidio-analyzer/tests/mocks/__init__.py
  presidio-analyzer/tests/mocks/nlp_engine_mock.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_context_support.py
  presidio-analyzer/tests/test_ip_recognizer.py
  presidio-analyzer/tests/test_spacy_recognizer.py
  presidio-analyzer/tests/test_us_bank_recognizer.py
  presidio-analyzer/tests/test_us_driver_license_recognizer.py
  presidio-analyzer/tests/test_us_itin_recognizer.py
  presidio-analyzer/tests/test_us_passport_recognizer.py
  presidio-analyzer/tests/test_us_phone_recognizer.py
  presidio-analyzer/tests/test_us_ssn_recognizer.py
Due: pipelines/presidio-python-deps-CI.yaml

fixed bug: changed 'push' to 'pull' in Makefile (#102)
  Makefile
Due: none

updated docs and samples based on new changes in dev (#120)
  README.MD
  docs/field_types.md
  docs/tutorial_service.md
Due: none

a post-upgrade e2e test (#112)
  Dockerfile.python.deps
  Makefile
  charts/presidio/templates/_helpers.tpl
  charts/presidio/templates/tester-job-deployment.yaml
  charts/presidio/values.yaml
  pkg/platform/platform.go
  presidio-api/cmd/presidio-api/api/analyze/analyze_test.go
  presidio-tester/Dockerfile
  presidio-tester/cmd/presidio-tester/testdata/analyze-custom-recognizer-request.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-custom-recognizer-template.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-image-template.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-request.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-response.json
  presidio-tester/cmd/presidio-tester/testdata/analyze-template.json
  presidio-tester/cmd/presidio-tester/testdata/anonymize-image-template.json
  presidio-tester/cmd/presidio-tester/testdata/anonymize-request.json
  presidio-tester/cmd/presidio-tester/testdata/anonymize-response.json
  presidio-tester/cmd/presidio-tester/testdata/anonymize-template.json
  presidio-tester/cmd/presidio-tester/testdata/new-custom-pattern-recognizer.json
  presidio-tester/cmd/presidio-tester/testdata/ocr-result.json
  presidio-tester/cmd/presidio-tester/testdata/ocr-result.png
  presidio-tester/cmd/presidio-tester/testdata/ocr-test.png
  presidio-tester/cmd/presidio-tester/testdata/update-custom-pattern-recognizer.json
  presidio-tester/cmd/presidio-tester/tester.go
  tests/common/common.go
  tests/functional_http_test.go
  tests/functional_recognizers_test.go
  tests/integration_anonymize_image_test.go
  tests/integration_tesseract_test.go
Due: pipelines/presidio-python-deps-CI.yaml

Entities list for all fields true (#111)
  presidio-analyzer/analyzer/analyzer_engine.py
  presidio-analyzer/tests/test_analyzer_engine.py
Due: none

Add public path to makefile (#121)
  Makefile
  charts/presidio/values.yaml
Due: none

Bug666 - Adding pylint to the Analyzer microservice (#105)
  presidio-analyzer/Dockerfile
  presidio-analyzer/analyzer/__init__.py
  presidio-analyzer/analyzer/__main__.py
  presidio-analyzer/analyzer/analyzer_engine.py
  presidio-analyzer/analyzer/entity_recognizer.py
  presidio-analyzer/analyzer/local_recognizer.py
  presidio-analyzer/analyzer/pattern_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/__init__.py
  presidio-analyzer/analyzer/predefined_recognizers/credit_card_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/crypto_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/domain_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/email_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/ip_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/us_bank_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/us_driver_license_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/us_itin_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/us_passport_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/us_phone_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/us_ssn_recognizer.py
  presidio-analyzer/analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/analyzer/remote_recognizer.py
  presidio-analyzer/pylintrc
  presidio-analyzer/requirements-dev.txt
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_pattern.py
Due: none

Fix Bug #604 - Refactor test assertions + some pylint fixes (#100)
  presidio-analyzer/analyzer/predefined_recognizers/spacy_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/uk_nhs_recognizer.py
  presidio-analyzer/tests/__init__.py
  presidio-analyzer/tests/assertions.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_credit_card_recognizer.py
  presidio-analyzer/tests/test_crypto_recognizer.py
  presidio-analyzer/tests/test_domain_recognizer.py
  presidio-analyzer/tests/test_email_recognizer.py
  presidio-analyzer/tests/test_entity_recognizer.py
  presidio-analyzer/tests/test_iban_recognizer.py
  presidio-analyzer/tests/test_ip_recognizer.py
  presidio-analyzer/tests/test_pattern.py
  presidio-analyzer/tests/test_pattern_recognizer.py
  presidio-analyzer/tests/test_recognizer_registry.py
  presidio-analyzer/tests/test_spacy_recognizer.py
  presidio-analyzer/tests/test_uk_nhs_recognizer.py
  presidio-analyzer/tests/test_us_bank_recognizer.py
  presidio-analyzer/tests/test_us_driver_license_recognizer.py
  presidio-analyzer/tests/test_us_itin_recognizer.py
  presidio-analyzer/tests/test_us_passport_recognizer.py
  presidio-analyzer/tests/test_us_phone_recognizer.py
  presidio-analyzer/tests/test_us_ssn_recognizer.py
Due: none

Build deps - adding build number to python&golang dependency containers (#122)
  Dockerfile.golang.base
  Makefile
  docs/development.md
  docs/install.md
  pipelines/presidio-golang-deps-CI.yaml
  pipelines/presidio-python-deps-CI.yaml
  presidio-analyzer/Dockerfile
Due: none

Default transformation (#94)
  Gopkg.lock
  presidio-analyzer/analyzer/__main__.py
  presidio-analyzer/analyzer/field_types/globally/domain.py
  presidio-analyzer/analyzer/field_types/globally/email.py
  presidio-analyzer/analyzer/field_types/uk/nhs.py
  presidio-anonymizer/cmd/presidio-anonymizer/anonymizer/anonymizer.go
  presidio-anonymizer/cmd/presidio-anonymizer/anonymizer/anonymizer_test.go
Due: pipelines/presidio-golang-deps-CI.yaml

Change deployment script to mcr (#130)
  Dockerfile.python.deps
  deployment/deploy-presidio.sh
Due: pipelines/presidio-python-deps-CI.yaml

All fields (#107)
  Gopkg.lock
  presidio-analyzer/analyzer/analyzer_engine.py
  presidio-analyzer/analyzer/recognizer_registry/recognizer_registry.py
  presidio-analyzer/analyzer/template_pb2.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_recognizer_registry.py
  presidio-api/cmd/presidio-api/api/analyze/analyze_test.go
  presidio-api/cmd/presidio-api/api/mocks/mocks.go
Due: pipelines/presidio-golang-deps-CI.yaml

Ll bug610 - Fix bug in IBAN recognizers + additional test fixes (#101)
  presidio-analyzer/analyzer/entity_recognizer.py
  presidio-analyzer/analyzer/pattern_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/credit_card_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/crypto_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/domain_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/email_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/iban_patterns.py
  presidio-analyzer/analyzer/predefined_recognizers/iban_recognizer.py
  presidio-analyzer/analyzer/predefined_recognizers/us_driver_license_recognizer.py
  presidio-analyzer/tests/__init__.py
  presidio-analyzer/tests/assertions.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-analyzer/tests/test_credit_card_recognizer.py
  presidio-analyzer/tests/test_crypto_recognizer.py
  presidio-analyzer/tests/test_domain_recognizer.py
  presidio-analyzer/tests/test_email_recognizer.py
  presidio-analyzer/tests/test_iban_recognizer.py
  presidio-analyzer/tests/test_spacy_recognizer.py
  presidio-analyzer/tests/test_uk_nhs_recognizer.py
  presidio-analyzer/tests/test_us_phone_recognizer.py
Due: none

Revert yaml (#137)
  Dockerfile.golang.base
  Makefile
  docs/development.md
  docs/install.md
  pipelines/presidio-golang-deps-CI.yaml
  pipelines/presidio-python-deps-CI.yaml
  presidio-analyzer/Dockerfile
Due: none

Deployment script (#95)
  Makefile
  README.MD
  charts/presidio/Chart.yaml
  charts/presidio/templates/NOTES.txt
  charts/presidio/templates/analyzer-deployment.yaml
  charts/presidio/templates/anonymizer-deployment.yaml
  charts/presidio/templates/anonymizer-image-deployment.yaml
  charts/presidio/templates/api-deployment.yaml
  charts/presidio/templates/ocr-deployment.yaml
  charts/presidio/templates/scheduler-deployment.yaml
  charts/presidio/values.yaml
  deployment/deploy-helm.sh
  deployment/deploy-presidio.sh
  docs/install.md
Due: none

Presidio support for language code in template (#98)
  Gopkg.toml
  presidio-analyzer/analyzer/analyzer_engine.py
  presidio-analyzer/analyzer/common_pb2.py
  presidio-analyzer/analyzer/template_pb2.py
  presidio-analyzer/tests/test_analyzer_engine.py
  presidio-api/cmd/presidio-api/api/analyze/analyze_test.go
  presidio-api/cmd/presidio-api/api/mocks/mocks.go
Due: pipelines/presidio-golang-deps-CI.yaml

Streams bug fixes (#92)
  Gopkg.lock
  Gopkg.toml
  README.MD
  docs/index.md
  docs/tutorial_scheduler.md
  pkg/platform/kube/cronjob_test.go
  pkg/platform/kube/job_test.go
  pkg/platform/kube/secret_test.go
  pkg/stream/eventhubs/eventhubs.go
  presidio-api/cmd/presidio-api/methods.go
  tests/integration_eventhub_test.go
Due: pipelines/presidio-golang-deps-CI.yaml

Bug fixes - based on bugbash (#126)
  charts/presidio/values.yaml
  presidio-analyzer/analyzer/entity_recognizer.py
  presidio-analyzer/tests/data/context_sentences_tests.txt
  presidio-analyzer/tests/test_context_support.py
Due: none

Updated CI badge for new Presidio-CI pipeline
  README.MD
Due: none

bug fix - mcr latest tag was not correct
  Makefile
Due: none

yaml pipelines
  Dockerfile.golang.base
  Makefile
  pipelines/presidio-golang-deps-CI.yaml
  presidio-analyzer/Dockerfile
Due: none

Path conditions:
  pipelines/presidio-golang-deps-CI.yaml: any of: Dockerfile.golang.deps, Gopkg.lock, Gopkg.toml
  pipelines/presidio-python-deps-CI.yaml: any of: Dockerfile.python.deps, presidio-analyzer/requirements.txt
